header .fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header .container-fluid {
  margin-left: 32px;
}
header .navbar-toggler {
  border: none;
}
header .offcanvas {
  background-color: #EEE4DA;
}
header .offcanvas .offcanvas-header {
  padding: 40px;
}
header .offcanvas .offcanvas-header .btn-close {
  transform: scale(1.5);
}
header .offcanvas .active {
  color: #544136 !important;
  font-size: 1.4em;
  width: 50%;
  margin-left: 20%;
}
header .offcanvas .title-yoyaku {
  margin-top: 20%;
}
header .offcanvas .title-yoyaku .header_nav_title {
  width: 50%;
  margin-left: 20%;
}
header .offcanvas .title-yoyaku .YoyakuButon {
  background: white;
  text-align: center;
  font-size: 1em;
  width: 37%;
}

main {
  margin-top: 60px;
}
main .block-1 .block-1-1 {
  background: #EEE4DA;
}
main .block-1 .block-1-1 .title-messege {
  margin-top: 5vw;
}
main .block-1 .block-1-1 .col {
  padding-left: 0;
  height: 38vw;
}
main .block-1 .block-1-1 p {
  padding-left: 0;
  margin-bottom: 0;
}
main .block-1 .block-1-1 p.title {
  font-size: 8vw;
  margin-left: 11vw;
  color: #333333;
}
main .block-1 .block-1-1 p.concept {
  font-size: 3vw;
  margin-left: 11vw;
  color: #2A1103;
}
main .block-1 .block-1-1 p.button {
  background: #fff;
  width: 30vw;
  padding: 1.2vw;
  margin-left: 11vw;
  margin-top: 3vw;
}
main .block-1 .block-1-1 p.button a {
  text-decoration: none;
  color: #2A1103;
  font-size: 3.8vw;
}
main .block-1 .block-1-1 .block-1-2 {
  height: 43vw;
  position: relative;
}
main .block-1 .block-1-1 .block-1-2 .img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
main .block-2 {
  margin-top: 10px;
}
main .block-3 {
  margin-top: 8vw;
}
main .block-3-title {
  color: #544037;
  opacity: 34.84%;
  margin-bottom: 0;
  margin-left: 6vw;
  font-size: 10vw;
  position: absolute;
  margin-top: -6vw;
}
main .block-3-blok {
  top: -6vw;
  z-index: -1;
}
main .block-3-blok-bun {
  font-size: 2.3vw;
  margin-bottom: 0;
  padding: 7vw;
  background: #EEE4DA;
}
main .block-3-img-concept {
  border-radius: 100% 100% 0% 0%;
  width: 25vw;
  position: absolute;
  margin-top: -17vw;
  margin-left: 72vw;
}
main .block-4 {
  background-image: url(../img/img_bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-top: -2.2vh;
  padding-bottom: 9vw;
}
main .block-4-block {
  display: flex;
}
main .block-4-block-img {
  display: inline-block;
  padding-top: 12vw;
  padding-left: 16vw;
}
main .block-4-block-img > img {
  width: 34vw;
}
main .block-4-block-setumei {
  display: inline-block;
  font-size: 1.5vw;
  padding-left: 5vw;
  padding-top: 25vw;
  color: #544136;
}
main .block-4-block-setumei-sikaku {
  font-size: 1.5vw;
}
main .block-4-block-setumei-msg {
  font-size: 1.7vw;
}
main .block-4-block-daihyo {
  background: #F23;
  width: 24vw;
  margin-left: 26vw;
  margin-top: -9.7vw;
  position: relative;
  height: 8.57vw;
}
main .block-4-block-daihyo::after {
  content: "";
  border: 1px solid #707070;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1vw;
  left: 1vw;
  padding: 4.7vw 3vw;
}
main .block-4-block-daihyo-name {
  color: #2A1103;
  font-size: 2.1vw;
  padding: 1.7vw 3vw;
  background: #fff;
}
main .block-4-block-daihyo-accent {
  position: absolute;
  top: 1vw;
  font-size: 2vw;
  left: 4vw;
  color: #9A9085;
  opacity: 50.2%;
  transform: rotate(-6deg);
}
main .block-5 {
  padding-top: 9vw;
  padding-bottom: 8vw;
}
main .block-5-title {
  padding-left: 8vw;
  font-size: 4vw;
}
main .block-5-imgs {
  padding-top: 3vw;
  padding-left: 6vw;
  width: 100vw;
}
main .block-5-imgs img {
  width: 21vw;
  padding-left: 2vw;
}
main .block-5-btn {
  display: flex;
  margin-top: 7vw;
}
main .block-5-btn a {
  text-decoration: none;
  color: #2A1204;
  background: #EEE4DA;
  padding: 0.5vw 4vw;
  font-size: 1.6vw;
  text-align: right;
  margin-left: auto;
  margin-right: 12vw;
}
main .block-6 {
  padding-top: 4vw;
  padding-bottom: 8vw;
}
main .block-6-title {
  padding-left: 8vw;
  font-size: 4vw;
}
main .block-6-imgs {
  padding-top: 3vw;
  padding-left: 6vw;
  width: 100vw;
}
main .block-6-imgs img {
  width: 28vw;
  padding-left: 1vw;
}
main .block-6-btn {
  display: flex;
  margin-top: 7vw;
}
main .block-6-btn a {
  text-decoration: none;
  color: #2A1204;
  background: #EEE4DA;
  padding: 0.5vw 4vw;
  font-size: 1.6vw;
  text-align: right;
  margin-left: auto;
  margin-right: 12vw;
}
main .block-7 {
  background-color: #EEE4DA;
  padding-top: 5vw;
  padding-bottom: 6vw;
}
main .block-7-title {
  text-align: center;
  font-size: 4vw;
  color: #2A1103;
}
main .block-7-subtitle {
  padding-top: 3vw;
  position: relative;
  z-index: 1;
}
main .block-7-subtitle-arttitle {
  display: inline-block;
  color: #FFFFFF;
  opacity: 0.6039;
  margin-left: 9vw;
  margin-bottom: 0;
  font-size: 8vw;
}
main .block-7-subtitle-zeikomi {
  display: inline-block;
  color: #2A1103;
  margin-bottom: 0;
  margin-left: 27.5vw;
  font-size: 1.5vw;
}
main .block-7-block1 {
  width: 81vw;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 2vw 4vw;
  margin-bottom: 6em;
}
main .block-7-block1-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8vw solid #9A9084;
  border-bottom: 18vw solid transparent;
  left: 14vw;
  margin-top: -5vw;
}
main .block-7-block1-title {
  padding-left: 7vw;
  font-size: 2.5vw;
  color: #2A1103;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
main .block-7-block1-ibrou {
  display: inline-block;
  width: 23.5vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}
main .block-7-block1-ibrou-title {
  display: flex;
  align-items: center;
  text-align: center;
}
main .block-7-block1-ibrou-title-line {
  flex-grow: 1;
  height: 1px;
  background-color: #000;
}
main .block-7-block1-ibrou-title-text-1 {
  margin: 0px 3vw;
  color: #2A1103;
  font-size: 2.7vw;
}
main .block-7-block1-ibrou-title-text-2 {
  margin: 0px 1vw;
  color: #2A1103;
  font-size: 2.7vw;
}
main .block-7-block1-ibrou-setumei1, main .block-7-block1-ibrou-setumei3 {
  padding-bottom: 2.1vw;
}
main .block-7-block1-ibrou-setumei {
  font-size: 1.3vw;
  text-align: center;
  color: #2A1103;
}
main .block-7-block1-ibrou-img img {
  width: 100%;
}
main .block-7-block1-money {
  margin-top: 2vw;
}
main .block-7-block1-money-table {
  width: 72.7vw;
}
main .block-7-block1-money-table-tr:nth-of-type(1), main .block-7-block1-money-table-tr:nth-of-type(2), main .block-7-block1-money-table-tr:nth-of-type(3) {
  border-top: 1px solid white;
}
main .block-7-block1-money-table-tr-rowname, main .block-7-block1-money-table-tr-colname, main .block-7-block1-money-table-tr-cash {
  color: #2a1103;
  background: #EEE4DA;
  padding: 1vw;
  font-size: 1.74vw;
  padding-left: 3vw;
}
main .block-7-block1-money-table-tr-rowname {
  border-right: 1px solid white;
}
main .block-7-block1-money-table-tr-colname {
  font-weight: normal;
}
main .block-7-block1-chui {
  font-size: 1.4vw;
  color: #2A1103;
  padding-top: 2vw;
}
main .block-7-block {
  width: 81vw;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 2vw 4vw;
  margin-bottom: 4em;
}
main .block-7-block-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8vw solid #9A9084;
  border-bottom: 18vw solid transparent;
  left: 14vw;
  margin-top: -12vw;
}
main .block-7-block-title {
  padding-left: 7vw;
  font-size: 2.5vw;
  color: #2A1103;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
main .block-7-block-title-sub {
  margin-left: 3vw;
  font-size: 1.3vw;
}
main .block-7-block-img {
  text-align: center;
}
main .block-7-block-img img {
  width: 43vw;
}
main .block-7-block-money {
  margin-top: 2vw;
}
main .block-7-block-money-table {
  width: 72.7vw;
}
main .block-7-block-money-table-tr:nth-of-type(1), main .block-7-block-money-table-tr:nth-of-type(2), main .block-7-block-money-table-tr:nth-of-type(3) {
  border-top: 1px solid white;
}
main .block-7-block-money-table-tr-rowname, main .block-7-block-money-table-tr-colname, main .block-7-block-money-table-tr-cash {
  color: #2a1103;
  background: #EEE4DA;
  padding: 1vw;
  font-size: 1.74vw;
  padding-left: 3vw;
}
main .block-7-block-money-table-tr-rowname {
  border-right: 1px solid white;
}
main .block-7-block-money-table-tr-colname {
  font-weight: normal;
}
main .block-7-others-title {
  display: inline-block;
  color: #FFFFFF;
  opacity: 0.6039;
  margin-left: 9vw;
  margin-bottom: 0;
  font-size: 8vw;
}
main .block-7-others-memo {
  color: #2A1103;
  font-size: 1.87vw;
  margin-left: 9vw;
  font-size: 1.5vw;
}
main .block-7-others-menu {
  width: 81vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
main .block-7-others-menu-medication-title {
  font-size: 1.8vw;
  font-weight: normal;
  color: #2A1103;
  margin-left: 2vw;
  margin-top: 1vw;
}
main .block-7-others-menu-medication-title-triangle {
  border-left: 0.5vw solid transparent;
  border-right: 0.5vw solid transparent;
  border-top: 0.5vw solid white;
  position: relative;
  bottom: -1.5vw;
  left: 0.3vw;
}
main .block-7-others-menu-medication-money {
  background: white;
  padding: 2vw;
  width: 40vw;
  width: 39vw;
  margin: 0 0.5vw;
}
main .block-7-others-menu-medication-money-table-tr-rowname, main .block-7-others-menu-medication-money-table-tr-cash, main .block-7-others-menu-medication-money-table-tr-subname {
  font-size: 1.74vw;
  color: #2A1103;
  padding: 0.5vw;
}
main .block-7-others-menu-medication-money-table-tr-cash {
  padding-left: 7vw;
}
main .block-7-others-menu-medication-money-table-tr-subname {
  font-size: 1.4vw;
  color: #2A1103;
  padding: 1vw;
}
main .block-7-others-menu-medication-money-table-tr-blank {
  padding: 1vw;
}
main .block-8 {
  width: 81vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 9vw;
}
main .block-8-title {
  font-size: 4vw;
  color: #544136;
  margin-top: 8vw;
  margin-bottom: 8vw;
  text-align: center;
}
main .block-8-block {
  display: flex;
}
main .block-8-block-box {
  width: 40vw;
}
main .block-8-block-box-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vw;
}
main .block-8-block-box-msg-num, main .block-8-block-box-msg-name, main .block-8-block-box-msg-eng {
  position: absolute;
  color: white;
}
main .block-8-block-box-msg-num {
  margin-top: -4vw;
  margin-left: 2vw;
  font-size: 3.7vw;
}
main .block-8-block-box-msg-name {
  margin-top: 2.5vw;
  margin-left: 1.2vw;
  font-size: 3vw;
}
main .block-8-block-box-msg-name-2 {
  margin-top: 3vw;
  margin-left: 0.2vw;
  font-size: 1.75vw;
  line-height: 2vw;
}
main .block-8-block-box-msg-name-2 span {
  margin-left: 3vw;
}
main .block-8-block-box-msg-name-5 {
  margin-left: 0vw;
  font-size: 2vw;
}
main .block-8-block-box-msg-name-6 {
  margin-left: 0vw;
  font-size: 1.7vw;
}
main .block-8-block-box-msg-name-7 {
  margin-left: 0.8vw;
  font-size: 2.6vw;
}
main .block-8-block-box-msg-name-8 {
  margin-left: 0.8vw;
  font-size: 2vw;
  line-height: 2vw;
  margin-top: 3.2vw;
}
main .block-8-block-box-msg-name-8 span {
  margin-left: 3vw;
}
main .block-8-block-box-msg-name-9 {
  margin-top: 3.5vw;
}
main .block-8-block-box-msg-eng {
  margin-top: 7.6vw;
  margin-left: 4.3vw;
  font-size: 1.9vw;
}
main .block-8-block-box-msg-eng-2 {
  margin-top: 9vw;
  margin-left: 3vw;
}
main .block-8-block-box-msg-eng-3 {
  margin-left: 4vw;
}
main .block-8-block-box-msg-eng-5 {
  margin-left: 2vw;
}
main .block-8-block-box-msg-eng-6 {
  margin-left: 1.2vw;
}
main .block-8-block-box-msg-eng-7 {
  margin-left: 1.2vw;
}
main .block-8-block-box-msg-eng-8 {
  margin-left: 2.5vw;
  margin-top: 9vw;
}
main .block-8-block-box-msg-eng-9 {
  margin-top: 8.1vw;
  margin-left: 2.3vw;
}
main .block-8-block-box-msg-icon {
  background: #9A9085;
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
}
main .block-8-block-box-msg-icon::before {
  content: "";
  width: 11vw;
  height: 11vw;
  border-radius: 50%;
  border: 0.1vw solid white;
  position: absolute;
}
main .block-8-block-box-button {
  text-align: left;
  padding-bottom: 2vw;
  margin-left: 7vw;
}
main .block-8-block-box-button a {
  text-decoration: none;
  background-color: white;
  color: #2A1103;
  border: none;
  padding: 1.1vw 8vw;
  font-size: 1.8vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 2vw;
  margin-bottom: 2vw;
  box-shadow: 0 0.5px 1.5vw rgba(0, 0, 0, 0.1);
}
main .block-8-block-box-exp {
  color: #544136;
  font-size: 1.8vw;
}
main .block-8-block-box-exp p {
  margin-left: 7vw;
}
main .block-8-block-img {
  width: 41vw;
}
main .block-8-block-img img {
  width: 100%;
}
main .block-8-downicon {
  margin-top: 3vw;
  margin-bottom: 3vw;
}
main .block-8-downicon-triangle {
  width: 0;
  height: 0;
  border-left: 4vw solid transparent;
  border-right: 4vw solid transparent;
  border-top: 4vw solid #EEE4DA;
  display: block;
  margin: -0.5vw 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5961;
}
main .block-9 {
  width: 81vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 9vw;
}
main .block-9-title {
  font-size: 4vw;
  color: #544136;
  margin-top: 8vw;
  margin-bottom: 8vw;
  text-align: center;
}
main .block-9 .accordion-button,
main .block-9 .accordion-body {
  padding-left: 5vw;
  font-size: 2.25vw;
}
main .block-9 .accordion-button > span {
  position: absolute;
  top: 2vw;
  left: 1vw;
}
main .block-9 .accordion-body > span {
  position: absolute;
  left: 11vw;
}
main .block-9 .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #9A9085;
}
main .block-10 {
  padding-bottom: 6vw;
  background: #ECE6E3;
}
main .block-10-title {
  color: #2A1103;
  font-size: 4vw;
  padding-top: 6vw;
  padding-bottom: 6vw;
  text-align: center;
}
main .block-10-comment {
  padding-left: 29vw;
}
main .block-10-comment-text {
  padding-bottom: 2vw;
  font-size: 2.2vw;
}
main .block-10-comment-text a {
  color: #2A1103;
}
main .block-11 {
  width: 81vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 7vw;
}
main .block-11-title {
  color: #2A1103;
  font-size: 4vw;
  padding-top: 6vw;
  padding-bottom: 6vw;
  text-align: center;
}
main .block-11-block p {
  margin-bottom: 0;
}
main .block-11-block-block1 {
  width: 40.2vw;
  display: inline-block;
}
main .block-11-block-block1-row1 {
  margin-bottom: 1.5vw;
}
main .block-11-block-block1-row2 {
  margin-bottom: 1.5vw;
}
main .block-11-block-block1-jusho {
  width: 25vw;
  font-size: 1.4vw;
  display: inline-block;
  color: #2A1103;
}
main .block-11-block-block1-jusho > span {
  color: #A98A80;
}
main .block-11-block-block1-eigyo {
  width: 14vw;
  font-size: 1.3vw;
  display: inline-block;
  vertical-align: top;
  color: #2A1103;
}
main .block-11-block-block1-eigyo > span {
  color: #A98A80;
}
main .block-11-block-block1-address {
  font-size: 1.4vw;
  width: 11vw;
  display: inline-block;
  color: #2A1103;
}
main .block-11-block-block1-address > span {
  color: #A98A80;
}
main .block-11-block-block1-closed {
  font-size: 1.4vw;
  display: inline-block;
  width: 6vw;
  color: #2A1103;
}
main .block-11-block-block1-closed > span {
  color: #A98A80;
}
main .block-11-block-block1-money {
  width: 17vw;
  display: inline-block;
  font-size: 1.4vw;
  color: #2A1103;
}
main .block-11-block-block1-money > span {
  color: #A98A80;
}
main .block-11-block-block1-train {
  font-size: 1.4vw;
  color: #2A1103;
}
main .block-11-block-block2 {
  width: 38vw;
  display: inline-block;
  vertical-align: top;
}
main .block-11-block-block2-iframe {
  width: 39vw;
  height: 23vw;
  vertical-align: top;
}
main .block-11-block-block2-box {
  margin-top: 2vw;
  text-align: left;
  text-align: center;
}
main .block-11-block-block2-box-button {
  text-decoration: none;
  background-color: white;
  color: #2A1103;
  border: none;
  padding: 1.1vw 8vw;
  font-size: 1.8vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 2vw;
  margin-bottom: 2vw;
}
main .block-11-block-block3 {
  margin-top: -2vw;
}
main .block-11-block-block3-car {
  color: #2A1103;
  font-size: 1.4vw;
  width: 81vw;
}
main .block-11-block-block3-car > span {
  color: #A98A80;
}

.footter {
  background-image: url(../img/img_footer.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.footter-block {
  width: 81vw;
  margin-left: auto;
  margin-right: auto;
  height: 26vw;
}
.footter-block-block1 {
  width: 39vw;
  display: inline-block;
  vertical-align: top;
  padding-top: 6vw;
}
.footter-block-block1-title {
  font-size: 3.4vw;
  color: #2A1103;
}
.footter-block-block1-snsicon-line > img {
  width: 5vw;
  margin-left: -1vw;
}
.footter-block-block1-snsicon-insta > img {
  width: 5vw;
  margin-left: -1vw;
}
.footter-block-block2 {
  width: 40vw;
  margin-top: 3vw;
  display: inline-block;
}
.footter-block-block2-lick1 {
  display: inline-block;
  font-size: 1.8vw;
  width: 19vw;
}
.footter-block-block2-lick1-p {
  margin-bottom: 2vw;
}
.footter-block-block2-lick1-p > a {
  text-decoration: none;
  color: #2A1103;
}
.footter-block-block2-lick2 {
  display: inline-block;
  vertical-align: top;
  font-size: 1.8vw;
  width: 19vw;
  padding-left: 2vw;
}
.footter-block-block2-lick2-p {
  margin-bottom: 2vw;
}
.footter-block-block2-lick2-p > a {
  text-decoration: none;
  color: #2A1103;
}/*# sourceMappingURL=style.css.map */