@charset "UTF-8";
@font-face {
  font-family: "optima";
  src: url("../font/optima.ttf") format("truetype");
}
@font-face {
  font-family: "Hiragino";
  src: url("../font/ヒラギノ明朝 ProN.ttc") format("truetype");
}
* {
  font-family: "Hiragino";
}

*:focus {
  box-shadow: none !important;
}

header .fixed-top {
  background-color: white;
}

header .navbar-toggler {
  width: 3em;
  border: none;
  margin-right: 6.5vw;
}
header .container-fluid {
  background: white;
  padding-top: 0.62em;
  padding-bottom: 0.62em;
}
header .navbar-toggler-icon {
  width: 100%;
  display: block;
}
header .navbar-brand > img {
  position: absolute;
  top: 0.01em;
  width: 8em;
  margin-left: 4vw;
}

.offcanvas {
  background-color: #EEE4DA;
}
.offcanvas .offcanvas-header {
  padding: 40px;
}
.offcanvas .offcanvas-header .btn-close {
  transform: scale(1.5);
}
.offcanvas .active {
  color: #544136 !important;
  font-size: 1.4em;
  width: 50%;
  margin-left: 20%;
  font-family: "optima";
}
.offcanvas .title-yoyaku {
  margin-top: 20%;
}
.offcanvas .title-yoyaku .header_nav_title {
  width: 50%;
  margin-left: 20%;
}
.offcanvas .title-yoyaku .header_nav_title img {
  width: 4em;
  margin-bottom: 1vw;
}
.offcanvas .title-yoyaku .YoyakuButon {
  background: white;
  text-align: center;
  font-size: 1em;
  width: 37%;
  box-shadow: -3px 4px 8px rgba(0, 0, 0, 0.25);
  font-family: "Hiragino";
}
.offcanvas .title-yoyaku .YoyakuButon > span {
  font-size: 0.9em;
}

/* ----------------------------------------
ARTIST.html、ARTMAKE.html ヘッダーロゴ、パンくずリスト
------------------------------------------*/
.header-hight {
  height: 9em;
}

.header-rogo {
  top: inherit !important;
  margin-left: 7.9vw !important;
  position: absolute;
  top: -0.6em;
  width: 8.078em !important;
  margin-left: 4vw;
  margin-top: -1vw;
}

.pankuzu {
  margin-top: 5em;
  background: #EDE4DA;
  padding-left: 9vw;
  padding-top: 0.8vw;
  padding-bottom: 0.8vw;
  display: flex;
}
.pankuzu-top, .pankuzu-bar, .pankuzu-name {
  font-size: 1vw;
  font-family: "optima";
}
.pankuzu-top > a, .pankuzu-bar > a, .pankuzu-name > a {
  text-decoration: none;
  color: inherit;
}
.pankuzu-name {
  padding-left: 0.1vw;
}
.pankuzu-bar {
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

main {
  margin-top: 4.7em;
}
main .block-1-1 {
  background-image: url(../img/img_footer.png);
  background-repeat: repeat;
  background-size: 100% auto;
  display: flex;
}
main .block-1-1 .col {
  padding-left: 0;
  height: 38vw;
}
main .block-1-1 p {
  padding-left: 0;
  margin-bottom: 0;
}
main .block-1-1 p.title {
  font-size: 8vw;
  margin-left: 14.58vw;
  color: #333333;
  font-family: "optima";
  position: absolute;
  margin-top: 6vw;
}
main .block-1-1 p.title > img {
  width: 15.83vw;
}
main .block-1-1 p.concept {
  font-size: 2.22vw;
  margin-left: 14.58vw;
  color: #2A1103;
  margin-top: 16vw;
}
main .block-1-1 p.concept > span {
  font-size: 2.64vw;
}
main .block-1-1 p.button {
  box-shadow: -3px 4px 8px rgba(0, 0, 0, 0.25);
  background: #fff;
  width: 16vw;
  padding: 0.5vw;
  margin-left: 14.58vw;
  text-align: center;
  margin-top: 0.97vw;
}
main .block-1-1 p.button a {
  text-decoration: none;
  color: #2A1103;
  font-size: 1.9vw;
}
main .block-1-1 p.button a > span {
  font-size: 1.75vw;
}
main .block-1-2 {
  width: 32.3vw;
  margin-left: 17.28vw;
}
main .block-1-2 > img {
  display: block;
  width: 135%;
}
main .block-2 {
  margin-top: 3.65vw;
}
main .block-2-block {
  display: flex;
  overflow-X: scroll;
  justify-content: space-evenly;
}
main .block-2-block-img {
  width: 40vw;
}
main .block-2-block-img > img {
  width: 40vw;
}

main .block-3 {
  padding-top: 10vw;
}
main .block-3-title {
  color: #544136;
  opacity: 50%;
  margin-bottom: 0;
  margin-left: 20vw;
  font-size: 5vw;
  position: absolute;
  margin-top: -3.5vw;
  font-family: "optima";
}
main .block-3-blok {
  top: -6vw;
  z-index: -1;
  background-image: url(../img/img_bg1.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}
main .block-3-blok-bun {
  font-size: 1vw;
  margin-bottom: 5vw;
  padding-left: 20vw;
  padding-top: 4.5vw;
  padding-bottom: 10vw;
  color: #544136;
}
main .block-3-img {
  text-align: right;
  margin-right: 22vw;
  margin-top: -30vw;
  margin-left: 0vw;
}
main .block-3-img-concept {
  border-radius: 100% 100% 0% 0%;
  width: 22vw;
}
main .block-4 {
  background-image: url(../img/img_bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0vw;
  margin-top: -5vw;
}

main .block-4-block {
  display: flex;
  justify-content: center
}
main .block-4-block-img {
  display: inline-block;
  padding-top: 3vw;
  padding-right: 3vw;
}
main .block-4-block-img > img {
  width: 15vw;
}
main .block-4-block-setumei {
  display: inline-block;
  font-size: 0.5vw;
  padding-left: 3vw;
  padding-top: 15vw;
  color: #544136;
}

main .block-4-block-setumei-instlink a {
  text-decoration: none;
  color: #544136;
  font-size: 1vw;

}

main .block-4-block-setumei-instlink a img {
  width: 2.5vw;
}

main .block-4-block-setumei-sikaku {
  font-size: 1vw;
  margin-bottom: 0.9vw;
}
main .block-4-block-setumei-msg {
  font-size: 1.3vw;
}
main .block-4-block-daihyo {
  width: 18.75vw;
  margin-left: 30vw;
  margin-top: -6.7vw;
  position: relative;
  height: 10vw;
}
main .block-4-block-daihyo img {
  width: 15vw;
}
main .block-5 {
  padding-top: 10.56vw;
  padding-bottom: 8vw;
}
main .block-5-title {
  padding-left: 9.72vw;
  font-size: 4.03vw;
  font-family: "optima";
}
main .block-5-imgs {
  margin-top: 4.03vw;
  margin-left: 9.72vw;
  margin-right: 9.72vw;
  display: flex;
  overflow-x: scroll;
  width: 80.56vw;
}
main .block-5-imgs > img {
  width: 19.7vw;
  padding-right: 2vw;
}
main .block-5-btn {
  display: flex;
  margin-top: 7vw;
}
main .block-5-btn a {
  text-decoration: none;
  color: #2A1204;
  background: #EEE4DA;
  padding: 0.5vw 4vw;
  font-size: 1.25vw;
  text-align: right;
  margin-left: auto;
  margin-right: 12vw;
  font-family: "optima";
}
main .block-6 {
  padding-top: 7vw;
  padding-bottom: 7vw;
}
main .block-6-title {
  padding-left: 20vw;
  font-size: 3vw;
  font-family: "optima";
  color: #544136;
}
main .block-6-imgs {
  padding-top: 0vw;
  width: 80vw;
  margin-left: 9.72vw;
  margin-right: 9.72vw;
  display: flex;
  overflow-x: scroll;
  justify-content: center
}
main .block-6-imgs img {
  width: 20vw;
  padding-right: 1vw;
}
main .block-6-btn {
  display: flex;
  margin-top: 3vw;
}
main .block-6-btn a {
  text-decoration: none;
  color: #2A1204;
  background: #EEE4DA;
  padding: 0.5vw 3vw;
  font-size: 1.25vw;
  text-align: right;
  margin-left: auto;
  margin-right: 21vw;
  font-family: "optima";
}
main .block-7 {
  background-image: url(../img/img_nemu_bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-size: cover;
  padding-top: 10vw;
  padding-bottom: 7vw;
}
main .block-7-title {
  text-align: center;
  font-size: 3vw;
  color: #544136;
  font-family: "optima";
  margin-bottom: 0;
}
main .block-7-subtitle {
  padding-top: 2vw;
  position: relative;
  z-index: 1;
}
main .block-7-subtitle-arttitle {
  display: inline-block;
  color: #9A9084;
  opacity: 0.6039;
  margin-left: 18vw;
  margin-bottom: -9vw;
  font-size: 5vw;
  font-family: "optima";
}
main .block-7-subtitle-nara {
  display: inline-block;
  color: #2A1103;
  margin-bottom: 1vw;
  margin-left: 20vw;
  font-size: 1.5vw;
  position: absolute;
  top: 3vw;
}
main .block-7-subtitle-nara a {
  color: #544136;
  text-decoration: underline; 
}

main .block-7-subtitle-zeikomi {
  display: inline-block;
  color: #2A1103;
  margin-bottom: 1vw;
  margin-left: 25vw;
  font-size: 1vw;
  position: absolute;
  top: 5.5vw;
}
main .block-7-block1 {
  margin: 0vw 18vw;
  background: white;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-bottom: 6em;
  width: 65vw;
  text-align: center;
  
}
main .block-7-block1-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8vw solid #9A9084;
  border-bottom: 18vw solid transparent;
  left: 18vw;
  margin-top: -2vw;
}
main .block-7-block1-title {
  padding-left: 0vw;
  font-size: 2vw;
  color: #2A1103;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
main .block-7-block1-ibrou {
  display: inline-block;
  width: 17vw;
}
main .block-7-block1-ibrou-title {
  display: flex;
  align-items: center;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
main .block-7-block1-ibrou-title-line {
  flex-grow: 1;
  height: 1px;
  background-color: #2A1103;
}
main .block-7-block1-ibrou-title-text-1 {
  margin: 0px 3vw;
  color: #2A1103;
  font-size: 1vw;
}
main .block-7-block1-ibrou-title-text-2 {
  margin: 0px 1vw;
  color: #2A1103;
  font-size: 1vw;
}
main .block-7-block1-ibrou-setumei1, main .block-7-block1-ibrou-setumei3 {
  padding-bottom: 1.2vw;
}

main .block-7-block1-ibrou-setumei {
  font-size: 0.8vw;
  text-align: center;
  color: #2A1103;
}
main .block-7-block1-ibrou-img img {
  width: 85%;
}
main .block-7-block1-money {
  margin: 1vw 5vw;
  display: flex ;
  justify-content:center
  
}
main .block-7-block1-money-table {
  width: 50vw;
}
main .block-7-block1-money-table-tr:nth-of-type(1), main .block-7-block1-money-table-tr:nth-of-type(2), main .block-7-block1-money-table-tr:nth-of-type(3) {
  border-top: 1px solid white;
}
main .block-7-block1-money-table-tr-rowname, main .block-7-block1-money-table-tr-colname, main .block-7-block1-money-table-tr-cash {
  color: #2a1103;
  background: rgba(238, 228, 218, 0.5);
  padding: 1vw;
  font-size: 1vw;
}
main .block-7-block1-money-table-tr-rowname {
  border-right: 1px solid white;
  
}
main .block-7-block1-money-table-tr-colname {
  font-weight: normal;
}
main .block-7-block1-chui {
  font-size: 1vw;
  color: #2A1103;
  padding-top: 0vw;
  text-align: left;
  margin-left: 8vw;
}
main .block-7-block {
  margin: 0vw 18vw;
  background: white;
  padding: 2vw 2vw;
  margin-bottom: 4em;
  width: 65vw;
  text-align:center
}
main .block-7-block-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8vw solid #9A9084;
  border-bottom: 18vw solid transparent;
  left: 18vw;
  margin-top: -2vw;
}
main .block-7-block-title {
  padding-left: 0vw;
  font-size: 2vw;
  color: #2A1103;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
main .block-7-block-title-sub {
  margin-left: 5vw;
  margin-right: -15vw;
  font-size: 0.9vw;
}
main .block-7-block-img {
  display: flex ;
  justify-content:center
}
main .block-7-block-img img {
  width: 50vw;
  position: relative;
  z-index: 1;
}
main .block-7-block-money {
  margin: 1vw 5vw;
  display: flex ;
  justify-content:center

}
main .block-7-block-money-table {
  width: 50vw;
}
main .block-7-block-money-table-tr:nth-of-type(1), main .block-7-block-money-table-tr:nth-of-type(2), main .block-7-block-money-table-tr:nth-of-type(3) {
  border-top: 1px solid white;
}
main .block-7-block-money-table-tr-rowname, main .block-7-block-money-table-tr-colname, main .block-7-block-money-table-tr-cash {
  text-align: center;
  color: #2a1103;
  background: rgba(238, 228, 218, 0.5);
  padding: 1vw;
  font-size: 1vw;
  padding-left: 1vw;
}
main .block-7-block-money-table-tr-colname, main .block-7-block-money-table-tr-cash {
  padding-left: 0;
  text-align: center;
  color: #2a1103;
  background: rgba(238, 228, 218, 0.5);
  padding: 1vw;
  font-size: 1vw;
}
main .block-7-block-money-table-tr-rowname {
  border-right: 1px solid white;
}
main .block-7-block-money-table-tr-colname {
  font-weight: normal;
}
main .block-7-others-title {
  display: inline-block;
  color: #9A9084;
  opacity: 0.6039;
  margin-left: 18vw;
  margin-bottom: 0;
  font-size: 5vw;
  font-family: "optima";
}
main .block-7-others-memo {
  color: #2A1103;
  margin-left: 40vw;
  margin-top: -2.5vw;
  font-size: 1vw;
}
main .block-7-others-menu {
  margin-top: 3vw;
  margin-left: 15.28vw;
  margin-right: 15.28vw;
  display: flex;
  justify-content: center
}
main .block-7-others-menu-button {
  background-color: #EEE4DA;
  width: 30vw;
}
main .block-7-others-menu-medication {
  width: 30vw;
}
main .block-7-others-menu-medication > .accordion > .accordion-item > .accordion-header > .accordion-button {
  padding-bottom: 0;
  padding-top: 0;
}
main .block-7-others-menu-medication > .accordion > .accordion-item > .accordion-header > .accordion-button::after {
  background-image: url("../svg/money_icon.svg");
}
main .block-7-others-menu-medication > .accordion > .accordion-item > .accordion-header > .accordion-button:not(.collapsed) {
  color: #2A1103;
  background-color: #EEE4DA;
}
main .block-7-others-menu-medication > .accordion > .accordion-item > .accordion-collapse {
  padding-bottom: 2vw;

}
main .block-7-others-menu-medication-dr_max {
  margin-left: 1vw;
}
main .block-7-others-menu-medication-title {
  font-size: 1.5vw;
  font-weight: normal;
  color: #2A1103;
  margin-top: 1vw;
}
main .block-7-others-menu-medication-money {
  background: white;
  padding: 2vw;
  width: 40vw;
  width: 39vw;
  margin: 0 0.5vw;
}
main .block-7-others-menu-medication-money-table {
  margin-left: 2.99vw;
  margin-top: 2vw;
}
main .block-7-others-menu-medication-money-table-tr-rowname, main .block-7-others-menu-medication-money-table-tr-cash, main .block-7-others-menu-medication-money-table-tr-subname {
  font-size: 1vw;
  color: #2A1103;
  padding: 0.5vw;
}
main .block-7-others-menu-medication-money-table-tr-cash1 {
  padding-left: 2.08vw;
}
main .block-7-others-menu-medication-money-table-tr-cash2 {
  padding-left: 7.08vw;
}
main .block-7-others-menu-medication-money-table-tr-cash3 {
  padding-left: 12.08vw;
}
main .block-7-others-menu-medication-money-table-tr-subname {
  font-size: 1vw;
  color: #2A1103;
  padding: 1vw;
}
main .block-7-others-menu-medication-money-table-tr-blank {
  padding: 1vw;
}
main .block-8 {
  margin-left: 25vw;
  margin-right: 25vw;
  padding-bottom: 7vw;
  padding-top: 10vw;
}
main .block-8-title {
  font-size: 3vw;
  color: #544136;
  margin-bottom: 5vw;
  text-align: center;
  font-family: "optima";
}
main .block-8-block {
  display: flex;
}
main .block-8-block-box {
  width: 34.72vw;
}
main .block-8-block-box-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vw;
}
main .block-8-block-box-msg > img {
  width: 9.5vw;
}
main .block-8-block-box-button {
  display: flex;
  justify-content: center;
  padding-bottom: 1vw;

}
main .block-8-block-box-button a {
  text-decoration: none;
  background-color: white;
  color: #2A1103;
  border: none;
  padding: 1vw 5vw;
  font-size: 1.5vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5px 1.5vw rgba(0, 0, 0, 0.1);
}
main .block-8-block-box-exp {
  color: #544136;
  font-size: 1vw;
}
main .block-8-block-box-exp p {
  display: flex;
  justify-content: center;
}
main .block-8-block-img {
  width: 34.72vw;
}
main .block-8-block-img img {
  width: 100%;
}
main .block-8-downicon {
  margin-top: 3vw;
  margin-bottom: 3vw;
}
main .block-8-downicon-triangle {
  width: 0;
  height: 0;
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
  border-top: 2vw solid #EEE4DA;
  display: block;
  margin: -0.5vw 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5961;
}
main .block-9 {
  margin-left: 25vw;
  margin-right: 25vw;
  padding-bottom: 12vw;
  padding-top: 7vw;
}
main .block-9-title {
  font-size: 3vw;
  color: #544136;
  margin-bottom: 3vw;
  text-align: center;
  font-family: "optima";
}
main .block-9 .accordion-button,
main .block-9 .accordion-body {
  padding-left: 5vw;
  font-size: 1.2vw;
}
main .block-9 .accordion-body {
  color: #544136;
  border: 2px solid #9A9085;
  margin-bottom: 0.5vw;
}
main .block-9 .accordion-button > span {
  padding-right: 2vw;
  margin-left: -3.4vw;
  margin-right: 1vw;
}
main .block-9 .accordion-body > span {
  position: absolute;
  left: 27vw;
}
main .block-9 .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #9A9085;
}
main .block-9 .accordion-header,
main .block-9 .accordion-button {
  color: #fff;
  background-color: #9A9085;
}
main .block-9 .accordion-header {
  margin-bottom: 0.5vw;
}
main .block-9 .accordion-button {
  border-bottom: 1px solid #9A9085;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
main .block-9 .accordion-button::after {
  background-image: url("../svg/QandAicon.svg");
}
main .block-10 {
  padding-bottom: 5vw;
  padding-top: 5vw;
  background-image: url(../img/img_bg3.png);
  background-repeat: repeat;
  background-size: 100% auto;
}
main .block-10-title {
  color: #2A1103;
  font-size: 3vw;
  padding-bottom: 5vw;
  text-align: center;
  font-family: "optima";
}
main .block-10-comment {
  display: flex ;
  flex-direction: column;
  align-items: center;
}
main .block-10-comment-text {
  padding-bottom: 2vw;
  font-size: 1.5vw;
}
main .block-10-comment-text a {
  color: #2A1103;
}
main .block-11 {
  margin-left: 15.28vw;
  margin-right: 15.28vw;
  padding-bottom: 7vw;
}
main .block-11-title {
  color: #2A1103;
  font-size: 3vw;
  padding-top: 12vw;
  padding-bottom: 5vw;
  text-align: center;
  font-family: "optima";
}
main .block-11-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
main .block-11-block p {
  margin-bottom: 0;
}
main .block-11-block-block1 {
  width: 40.2vw;
  display: flex;
  flex-direction: column;
}
main .block-11-block-block1-txt1 {
  width: 25vw;
  font-size: 1.25vw;
  display: inline-block;
  color: #2A1103;
}
main .block-11-block-block1-txt1 > span {
  color: #A98A80;
}
main .block-11-block-block1-txt2 {
  width: 25vw;
  font-size: 1.25vw;
  display: inline-block;
  color: #2A1103;
}
main .block-11-block-block1-txt2 > span {
  color: #A98A80;
}
main .block-11-block-block2-iframe {
  width: 50vw;
  height: 30vw;
  vertical-align: top;
}
main .block-11-block-block2-box {
  margin-top: 2vw;
  text-align: left;
  text-align: center;
}
main .block-11-block-block2-box-button {
  text-decoration: none;
  background-color: white;
  color: #2A1103;
  border: none;
  padding: 1.5vw 6vw;
  font-size: 1.8vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 2vw;
  margin-bottom: 2vw;
}
main .block-11-block-block3 {
  margin-top: -2vw;
}
main .block-11-block-block3-car {
  color: #2A1103;
  font-size: 1.4vw;
  width: 81vw;
}
main .block-11-block-block3-car > span {
  color: #A98A80;
}

.footer-pc {
  background-image: url(../img/img_footer.png);
  background-repeat: repeat;
  background-size: 100% auto;
}
.footer-block {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  height: 26vw;
  display: flex;
  justify-content: space-around;

}
.footer-block-block1 {
  width: 29vw;
  display: inline-block;
  vertical-align: top;
  padding-top: 6vw;
}
.footer-block-block1-title {
  font-size: 3.4vw;
  color: #2A1103;
}
.footer-block-block1-title > img {
  width: 15vw;
  margin-bottom: -1vw;
}
.footer-block-block1-snsicon-line > img {
  width: 3vw;
  margin-left: 1vw;
}
.footer-block-block1-snsicon-insta > img {
  width: 3vw;
  margin-left: -0.5vw;
}
.footer-block-block2 {
  width: 50%;
  margin-top: 0vw;
  display: flex;
  align-items: center;

}
.footer-block-block2-lick1 {
  display: inline-block;
  font-size: 1vw;
  width: 10vw;
}
.footer-block-block2-lick1-p {
  margin-bottom: 1vw;
  font-family: "optima";
  padding-left: 1vw;
}
.footer-block-block2-lick1-p > a {
  text-decoration: none;
  color: #2A1103;
  font-family: "optima";
  font-size: 1.39vw;
}
.footer-block-block2-lick2 {
  display: inline-block;
  vertical-align: top;
  font-size: 1vw;
  width: 10vw;
  padding-left: 2vw;
}
.footer-block-block2-lick2-p {
  margin-bottom: 2vw;
}
.footer-block-block2-lick2-p > a {
  text-decoration: none;
  color: #2A1103;
}
.footer-block-block2-lick3 {
  display: inline-block;
  vertical-align: top;
  font-size: 1vw;
  width: 10vw;
  padding-left: 2vw;
}
.footer-block-block2-lick3-p {
  margin-bottom: 2vw;
}
.footer-block-block2-lick3-p > a {
  text-decoration: none;
  color: #2A1103;
}
.footertxt {
  font-size: 1vw;
  padding: 1vw;
  color: #333333;
  text-align: center;
}



/*
ARTIST.html
*/
.ARTIST {
  margin-top: 8.26vw;
  margin-bottom: 10.42vw;
}
.ARTIST-row {
  margin: 5.97vw 9.7vw;
  display: flex;
}
.ARTIST-row-block {
  padding-left: 4vw;
  padding-right: 4vw;
}
.ARTIST-row-block-img > img {
  width: 20.42vw;
}
.ARTIST-row-block-data {
  display: flex;
}
.ARTIST-row-block-data-post {
  width: 9.04vw;
  font-size: 1.94vw;
  font-family: "optima";
}
.ARTIST-row-block-data-name {
  width: 8vw;
  font-size: 1.94vw;
  font-family: "optima";
}
.ARTIST-row-block-data-icon > a > img {
  width: 2.85vw;
}
.ARTIST-row-block-text {
  font-size: 1.25vw;
  color: #544136;
  font-family: "optima";
}
.ARTIST-row-block-sait {
  margin-top: 0.5vw;
  height: 3.19vw;
  display: flex;
}
.ARTIST-row-block-sait-money, .ARTIST-row-block-sait-reservation {
  color: inherit;
  text-decoration: none;
  font-size: 1.25vw;
  height: 100%;
  display: block;
  display: grid;
  place-items: center;
  color: #544136;
}
.ARTIST-row-block-sait-money {
  background: #EEE4DA;
  width: 8.06vw;
  box-shadow: -3px 4px 8px rgba(0, 0, 0, 0.25) !important;
  border: none;
}
.ARTIST-row-block-sait-reservation {
  background-color: #DAEEDD;
  box-shadow: -3px 4px 8px rgba(0, 0, 0, 0.25);
  width: 11.67vw;
  margin-left: 0.5vw;
}

/*
ARTMAKE.html
*/
.ARTMAKE {
  margin-top: 8.26vw;
  margin-bottom: 10.42vw;
}
.ARTMAKE-row {
  margin: 5.97vw 9.7vw;
  display: flex;
}
.ARTMAKE-row-block {
  margin-left: 1.18vw;
  margin-right: 1.18vw;
}
.ARTMAKE-row-block-makeimg > img {
  width: 25.28vw;
}
.ARTMAKE-row-block-artist {
  display: flex;
}
.ARTMAKE-row-block-artist > img {
  width: 7.99vw;
}
.ARTMAKE-row-block-artist-block {
  width: 15.67vw;
  margin-left: 1vw;
}
.ARTMAKE-row-block-artist-block-title {
  font-size: 1.84vw;
  text-align: center;
  position: relative;
}
.ARTMAKE-row-block-artist-block-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #9A9085;
}
.ARTMAKE-row-block-artist-block-data {
  display: flex;
}
.ARTMAKE-row-block-artist-block-data-post {
  width: 7vw;
  font-size: 1.25vw;
  font-family: "optima";
  margin-left: 2vw;
}
.ARTMAKE-row-block-artist-block-data-name {
  width: 9.3vw;
  font-size: 1.25vw;
  font-family: "optima";
}
.ARTMAKE-row-block-artist-block-sait {
  margin-top: 0.5vw;
  height: 3.19vw;
  display: flex;
}
.ARTMAKE-row-block-artist-block-sait-money, .ARTMAKE-row-block-artist-block-sait-reservation {
  color: inherit;
  text-decoration: none;
  font-size: 1.25vw;
  height: 100%;
  display: block;
  display: grid;
  place-items: center;
  color: #544136;
}
.ARTMAKE-row-block-artist-block-sait-money {
  background: #EEE4DA;
  width: 7.36vw;
  box-shadow: -3px 4px 8px rgba(0, 0, 0, 0.25);
}
.ARTMAKE-row-block-artist-block-sait-reservation {
  background-color: #DAEEDD;
  width: 7.36vw;
  margin-left: 0.5vw;
  box-shadow: -3px 4px 8px rgba(0, 0, 0, 0.25);
}

/*
モーダル機能
*/
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    --bs-modal-width: unset;
    /* これで値を削除できます */
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: unset;
    /* 'max-width' をリセット */
    margin-right: unset;
    /* 'margin-right' をリセット */
    margin-left: unset;
    /* 'margin-left' をリセット */
  }
}
.modal-content {
  margin-right: 37vw;
  margin-left: 24vw;
}

.modal-header {
  height: 3vw;
  padding: 0;
}
.modal-header > button {
  font-size: 1.25vw;
  margin-right: 1vw !important;
}

.modal-body {
  padding: 0;
  background: #EEE4DA;
}
.modal-body-header {
  background: #9A9085;
  display: flex;
  padding-top: 1vw;
}
.modal-body-header-h3 {
  font-size: 2.64vw;
  color: white;
  font-family: "optima";
  width: 32.71vw;
  margin-left: 2.33vw;
}
.modal-body-header-coment {
  width: 20.83vw;
}
.modal-body-header-coment-1 {
  margin-bottom: 0;
  color: white;
  font-size: 1.25vw;
}
.modal-body-header-coment-2 {
  margin-bottom: 0;
  color: white;
  font-size: 1.25vw;
}
.modal-body-table {
  width: 100%;
  border-collapse: collapse;
}
.modal-body-table-tr {
  height: 4.4vw;
}
.modal-body-table-tr-th, .modal-body-table-tr-td {
  color: #2A1103;
  font-size: 1.94vw;
  width: 13.75vw;
  border-bottom: 1px solid #fff;
}
.modal-body-table-tr-th:first-child, .modal-body-table-tr-td:first-child {
  border-right: 1px solid #fff;
}
.modal-body-table-tr-th:not(:first-child), .modal-body-table-tr-td:not(:first-child) {
  padding-left: 1.32vw;
  text-align: center;
}
.modal-body-table-tr-th {
  font-weight: normal;
}
.modal-body-table-tr-td:first-child {
  text-align: center;
}
.modal-body-table-tr-td > span {
  font-size: 1.39vw;
}
.modal-body-table-end {
  display: flex;
  height: 4.4vw;
  padding-bottom: 0.5vw;
}
.modal-body-table-end-other-1 {
  border-right: 1px solid #fff;
  width: 21.83vw;
  font-size: 1.94vw;
  vertical-align: bottom;
  display: flex;
  align-items: flex-end;
  padding-left: 3vw;
}
.modal-body-table-end-other-1 > span {
  font-size: 1.39vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}
.modal-body-table-end-other-2 {
  width: 33.86vw;
  font-size: 1.94vw;
  vertical-align: bottom;
  display: flex;
  align-items: flex-end;
  padding-left: 2vw;
}
.modal-body-table-end-other-2 > span {
  font-size: 1.39vw;
  padding-left: 0.5vw;
  padding-right: 1vw;
}

/*
osaka.html
*/

.osaka_block-1 img {
width: 100%;
}
.osaka_block-6 {
  padding-top: 5vw;
}
.osaka_block-6-title {
  padding-left: 20vw;
  font-size: 3vw;
  font-family: "optima";
  color: #544136;
}
.osaka_block-6-imgs {
  padding-top: 0vw;
  width: 80vw;
  margin-left: 9.72vw;
  margin-right: 9.72vw;
  display: flex;
  overflow-x: scroll;
  justify-content: center
}
.osaka_block-6-imgs img {
  width: 20vw;
  padding-right: 1vw;
}
.osaka_block-6-btn {
  display: flex;
  margin-top: 3vw;
}
.osaka_block-6-btn a {
  text-decoration: none;
  color: #2A1204;
  background: #EEE4DA;
  padding: 0.5vw 3vw;
  font-size: 1.25vw;
  text-align: right;
  margin-left: auto;
  margin-right: 21vw;
  font-family: "optima";
}
.osaka_block-10 a {
  font-size: 1vw;
  color: #2A1103;
}

.osaka_block-11 {
  margin-left: 15.28vw;
  margin-right: 15.28vw;
  padding-bottom: 7vw;
}
.osaka_block-11-title {
  color: #2A1103;
  font-size: 3vw;
  padding-top: 12vw;
  padding-bottom: 5vw;
  text-align: center;
  font-family: "optima";
}
.osaka_block-11-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.osaka_block-11-block p {
  margin-bottom: 0;
}
.osaka_block-11-block-block1 {
  width: 40.2vw;
  display: flex;
  flex-direction: column;
}
.osaka_block-11-block-block1-txt1 {
  width: 25vw;
  font-size: 1.25vw;
  display: inline-block;
  color: #2A1103;
}
.osaka_block-11-block-block1-txt1 > span {
  color: #A98A80;
}
.osaka_block-11-block-block1-txt2 {
  width: 25vw;
  font-size: 1.25vw;
  display: inline-block;
  color: #2A1103;
}
.osaka_block-11-block-block1-txt2 > span {
  color: #A98A80;
}
.osaka_block-11-block-block2-iframe {
  width: 50vw;
  height: 30vw;
  vertical-align: top;
}
.osaka_block-11-block-block2-box {
  margin-top: 2vw;
  text-align: left;
  text-align: center;
}
.osaka_block-11-block-block2-box-button {
  text-decoration: none;
  background-color: white;
  color: #2A1103;
  border: none;
  padding: 1.5vw 6vw;
  font-size: 1.8vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.osaka_block-11-block-block3 {
  margin-top: -2vw;
}
.osaka_block-11-block-block3-car {
  color: #2A1103;
  font-size: 1.4vw;
  width: 81vw;
}
.osaka_block-11-block-block3-car > span {
  color: #A98A80;
}

/*
nara.html
*/

.nara_block-1 img {
width: 100%;
}
.nara_block-6 {
  padding-top: 7vw;
}
.nara_block-6-title {
  padding-top: 5vw;
  padding-left: 20vw;
  font-size: 3vw;
  font-family: "optima";
  color: #544136;
}
.nara_block-6-imgs {
  padding-top: 0vw;
  width: 80vw;
  margin-left: 9.72vw;
  margin-right: 9.72vw;
  display: flex;
  overflow-x: scroll;
  justify-content: center
}
.nara_block-6-imgs img {
  width: 20vw;
  padding-right: 1vw;
}
.nara_block-6-btn {
  display: flex;
  margin-top: 3vw;
}
.nara_block-6-btn a {
  text-decoration: none;
  color: #2A1204;
  background: #EEE4DA;
  padding: 0.5vw 3vw;
  font-size: 1.25vw;
  text-align: right;
  margin-left: auto;
  margin-right: 21vw;
  font-family: "optima";
}

.nara_block-10 a {
  font-size: 1vw;
  color: #2A1103;
}
.nara_block-11 {
  margin-left: 15.28vw;
  margin-right: 15.28vw;
  padding-bottom: 7vw;
}
.nara_block-11-title {
  color: #2A1103;
  font-size: 3vw;
  padding-top: 12vw;
  padding-bottom: 5vw;
  text-align: center;
  font-family: "optima";
}
.nara_block-11-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nara_block-11-block p {
  margin-bottom: 0;
}
.nara_block-11-block-block1 {
  width: 40.2vw;
  display: flex;
  flex-direction: column;
}
.nara_block-11-block-block1-txt1 {
  width: 25vw;
  font-size: 1.25vw;
  display: inline-block;
  color: #2A1103;
}
.nara_block-11-block-block1-txt1 > span {
  color: #A98A80;
}
.nara_block-11-block-block1-txt2 {
  width: 25vw;
  font-size: 1.25vw;
  display: inline-block;
  color: #2A1103;
}
.nara_block-11-block-block1-txt2 > span {
  color: #A98A80;
}
.nara_block-11-block-block2-iframe {
  width: 50vw;
  height: 30vw;
  vertical-align: top;
}
.nara_block-11-block-block2-box {
  margin-top: 2vw;
  text-align: left;
  text-align: center;
}
.nara_block-11-block-block2-box-button {
  text-decoration: none;
  background-color: white;
  color: #2A1103;
  border: none;
  padding: 1.5vw 6vw;
  font-size: 1.8vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.nara_block-11-block-block3 {
  margin-top: -2vw;
}
.nara_block-11-block-block3-car {
  color: #2A1103;
  font-size: 1.4vw;
  width: 81vw;
}
.nara_block-11-block-block3-car > span {
  color: #A98A80;
}


/*
FLOW.html
*/
.flow_block-8 {
  margin-left: 25vw;
  margin-right: 25vw;
  padding-bottom: 3vw;
  padding-top: 5vw;
}
.flow_block-8-title {
  font-size: 3vw;
  color: #544136;
  margin-bottom: 7vw;
  text-align: center;
  font-family: "optima";
}
.flow_block-8-block {
  display: flex;
}
.flow_block-8-block-box {
  width: 34.72vw;
}
.flow_block-8-block-box-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vw;
}
.flow_block-8-block-box-msg > img {
  width: 9.5vw;
}
.flow_block-8-block-box-button {
  display: flex;
  justify-content: center;
  padding-bottom: 1vw;

}
.flow_block-8-block-box-button a {
  text-decoration: none;
  background-color: white;
  color: #2A1103;
  border: none;
  padding: 1vw 3vw;
  font-size: 1vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5px 1.5vw rgba(0, 0, 0, 0.1);
}
.flow_block-8-block-box-exp {
  color: #544136;
  font-size: 1vw;
}
.flow_block-8-block-box-exp p {
  display: flex;
  justify-content: center;
}
.flow_block-8-block-img {
  width: 34.72vw;
}
.flow_block-8-block-img img {
  width: 100%;
}
.flow_block-8-downicon {
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.flow_block-8-downicon-triangle {
  width: 0;
  height: 0;
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
  border-top: 2vw solid #EEE4DA;
  display: block;
  margin: -0.5vw 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5961;
}


/*
NEWS.html
*/
.NEWS {
  margin-top: 5vw;
  margin-bottom: 5vw;
}
.NEWS_dateday {
  color: #2A1103;
  text-align: center;
  font-size: 1vw;
}
.NEWS_title {
  margin-top: 3vw;
  color: #2A1103;
  text-align: center;
  font-size: 1.3vw;
}
.NEWS_text {
  margin-top: 3vw;
  color: #2A1103;
  text-align: center;
  font-size: 1vw;
}
.NEWS_back {
  margin-top: 5vw;
  text-align: center;
}
.NEWS_back > a {
  color: #2A1103;
  font-size: 1vw;
  text-decoration: none;
}


/*# sourceMappingURL=style.css.map */