@font-face {
    font-family: "optima";
    src: url("../font/optima.ttf") format("truetype");
}

@font-face {
    font-family: "Hiragino";
    src: url("../font/ヒラギノ明朝\ ProN.ttc") format("truetype");
}

* {
    font-family: 'Hiragino';
}

header {

    .fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    // アイコンの位置調整
    .container-fluid {
        margin-left: 2.22vw;
        height: 4vw;

        .navbar-brand {
            img {
                width: 5.42vw;
                margin-top: -1vw;

            }
        }
    }

    // ハンバーガーメニューアイコン
    .navbar-toggler {
        margin-right: 9.81vw;
        border: none;

        .navbar-toggler-icon {
            width: 2.43vw;
        }
    }

    // ハンバーガーメニュー内部
    .offcanvas {
        // 背景
        background-color: #EEE4DA;

        //❌の移動 
        .offcanvas-header {
            padding: 40px;

            .btn-close {
                transform: scale(1.5);
            }
        }

        //  メニュー
        .active {
            color: #544136 !important;
            font-size: 1.4em;
            width: 50%;
            margin-left: 20%;
            font-family: 'optima';
        }

        .title-yoyaku {
            margin-top: 20%;

            //  店名
            .header_nav_title {
                width: 50%;
                margin-left: 20%;

                img {
                    width: 10vw;
                    margin-bottom: 1vw;
                }
            }

            //  ご予約はこちら
            .YoyakuButon {
                background: white;
                text-align: center;
                font-size: 1em;
                width: 37%;
            }

        }

    }
}

main {

    margin-top: 4.5vw;

    // ご予約はこちら
    .block-1 {
        .block-1-1 {
            background: #EEE4DA;

            .title-messege {

                margin-top: 5vw;
            }

            .col {
                padding-left: 0;
                height: 38vw;
            }

            p {
                padding-left: 0;
                margin-bottom: 0;

                &.title {
                    font-size: 8vw;
                    margin-left: 9.72vw;
                    color: #333333;
                    font-family: 'optima';

                    &>img {
                        width: 20vw;
                    }
                }

                &.concept {
                    font-size: 1.94vw;
                    margin-left: 9.72vw;
                    color: #2A1103;

                    >span {
                        font-size: 2.64vw;
                    }
                }

                &.button {
                    background: #fff;
                    width: 16vw;
                    padding: 1.2vw;
                    margin-left: 9.72vw;
                    margin-top: 3vw;

                    a {
                        text-decoration: none;
                        color: #2A1103;
                        font-size: 1.94vw;
                    }
                }

            }

            .block-1-2 {
                height: 43vw;
                position: relative;

                .img {
                    position: absolute;
                    bottom: 0;
                    width: 78%;
                }
            }
        }
    }

    .block-2 {
        margin-top: 4.65vw;

        &-block {
            display: flex;
            overflow-X: scroll;
            margin-left: 12.41vw;
            margin-right: 12.41vw;
            width: 75.18vw;

            &-img {
                width: 37.54vw;
                margin-right: 3.75vw;

                >img {
                    width: 33.86vw;
                }
            }
        }
    }

    .block-3 {
        margin-top: 12.5vw;

        &-title {
            color: #544037;
            opacity: 34.84%;
            margin-bottom: 0;
            margin-left: 9.72vw;
            font-size: 6.94vw;
            position: absolute;
            margin-top: -4vw;
            font-family: "optima";
        }

        &-blok {
            top: -6vw;
            z-index: -1;

            &-bun {
                font-size: 1.25vw;
                margin-bottom: 0;
                padding-left: 9.72vw;
                padding-top: 7.57vw;
                padding-bottom: 3.13vw;
                background: #EEE4DA;
            }
        }

        &-img {
            text-align: right;
            margin-right: 9.72vw;
            margin-right: 19.72vw;
            margin-top: -20vw;
            margin-left: 0vw;

            &-concept {
                border-radius: 100% 100% 0% 0%;
                width: 24.31vw;
            }
        }
    }

    .block-4 {
        background-image: url(../img/img_bg.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        padding-bottom: 7vw;
        margin-top: -5vw;

        &-block {
            display: flex;

            &-img {
                display: inline-block;
                padding-top: 12.57vw;
                padding-left: 17.85vw;

                >img {
                    width: 26.85vw;
                }
            }

            &-setumei {
                display: inline-block;
                font-size: 1.25vw;
                padding-left: 5vw;
                padding-top: 22.36vw;
                color: #544136;

                &-sikaku {
                    font-size: 1.25vw;
                    margin-bottom: 0.9vw;
                }

                &-msg {
                    font-size: 1.67vw;
                }
            }

            &-daihyo {
                width: 18.75vw;
                margin-left: 26vw;
                margin-top: -6.7vw;
                position: relative;
                height: 8.57vw;

                img {
                    width: 18.75vw;
                }
            }

        }
    }

    .block-5 {
        padding-top: 10.56vw;
        padding-bottom: 8vw;

        &-title {
            padding-left: 9.72vw;
            font-size: 4.03vw;
            font-family: "optima";
        }

        &-imgs {
            margin-top: 4.03vw;
            margin-left: 9.72vw;
            margin-right: 9.72vw;
            display: flex;
            overflow-x: scroll;
            width: 80.56vw;

            >img {
                width: 19.7vw;
                padding-right: 2vw;
            }
        }

        &-btn {
            display: flex;
            margin-top: 7vw;

            a {
                text-decoration: none;
                color: #2A1204;
                background: #EEE4DA;
                padding: 0.5vw 4.0vw;
                font-size: 1.25vw;
                text-align: right;
                margin-left: auto;
                margin-right: 12vw;
                font-family: "optima";
            }
        }

    }

    .block-6 {
        padding-top: 8vw;
        padding-bottom: 17.78vw;

        &-title {
            padding-left: 9.72vw;
            font-size: 4.03vw;
            font-family: "optima";
        }

        &-imgs {
            padding-top: 3vw;
            width: 80vw;
            margin-left: 9.72vw;
            margin-right: 9.72vw;

            img {
                width: 26vw;
                padding-right: 1vw;
            }
        }

        &-btn {
            display: flex;
            margin-top: 7vw;

            a {
                text-decoration: none;
                color: #2A1204;
                background: #EEE4DA;
                padding: 0.5vw 4.0vw;
                font-size: 1.25vw;
                text-align: right;
                margin-left: auto;
                margin-right: 12vw;
                font-family: "optima";
            }
        }

    }

    .block-7 {
        background-color: #EEE4DA;
        padding-top: 5.76vw;
        padding-bottom: 6vw;

        &-title {
            text-align: center;
            font-size: 4.03vw;
            color: #2A1103;
            font-family: "optima";
            margin-bottom: 0;
        }

        &-subtitle {
            padding-top: 9.58vw;
            position: relative;
            z-index: 1;

            &-arttitle {
                display: inline-block;
                color: #FFFFFF;
                opacity: 0.6039;
                margin-left: 9vw;
                margin-bottom: 0;
                font-size: 6.94vw;
                font-family: "optima";
            }

            &-zeikomi {
                display: inline-block;
                color: #2A1103;
                margin-bottom: 0;
                margin-left: 33.5vw;
                font-size: 1.39vw;
                position: absolute;
                top: 16vw;
            }
        }

        &-block1 {
            margin-left: 9.72vw;
            margin-right: 9.72vw;
            background: white;
            padding: 2vw 4vw;
            margin-bottom: 6em;

            &-triangle {
                position: absolute;
                width: 0;
                height: 0;
                border-left: 8vw solid #9A9084;
                border-bottom: 18vw solid transparent;
                left: 9.7vw;
                margin-top: -2vw;
            }

            &-title {
                padding-left: 7vw;
                font-size: 2.64vw;
                color: #2A1103;
                padding-top: 2vw;
                padding-bottom: 2vw;
            }

            &-ibrou {
                display: inline-block;
                width: 23.5vw;
                padding-left: 0.5vw;
                padding-right: 0.5vw;

                &-title {
                    display: flex;
                    align-items: center;
                    text-align: center;

                    &-line {
                        flex-grow: 1;
                        height: 1px;
                        background-color: #000;
                    }

                    &-text {
                        &-1 {
                            margin: 0px 3vw;
                            color: #2A1103;
                            font-size: 1.94vw;
                        }

                        &-2 {
                            margin: 0px 1vw;
                            color: #2A1103;
                            font-size: 1.94vw;
                        }
                    }
                }

                // 説明文の高さ調整
                &-setumei1,
                &-setumei3 {
                    padding-bottom: 2.1vw;
                }

                &-setumei {
                    font-size: 1.25vw;
                    text-align: center;
                    color: #2A1103;
                }

                &-img {
                    img {
                        width: 100%;
                    }
                }
            }

            &-money {
                margin-top: 2vw;

                &-table {
                    width: 72.7vw;

                    &-tr {

                        &:nth-of-type(1),
                        &:nth-of-type(2),
                        &:nth-of-type(3) {
                            border-top: 1px solid white;
                        }

                        &-rowname,
                        &-colname,
                        &-cash {
                            color: #2a1103;
                            background: #EEE4DA;
                            padding: 1vw;
                            font-size: 1.94vw;
                            padding-left: 3vw;
                        }

                        &-rowname {
                            border-right: 1px solid white;
                        }

                        &-colname {
                            font-weight: normal;
                        }
                    }
                }
            }

            &-chui {
                font-size: 1.39vw;
                color: #2A1103;
                padding-top: 2vw;
            }

        }

        &-block {
            margin-left: 9.72vw;
            margin-right: 9.72vw;
            background: white;
            padding: 2vw 4vw;
            margin-bottom: 4em;

            &-triangle {
                position: absolute;
                width: 0;
                height: 0;
                border-left: 8vw solid #9A9084;
                border-bottom: 18vw solid transparent;
                left: 9.7vw;
                margin-top: -2vw;
            }

            &-title {
                padding-left: 7vw;
                font-size: 2.64vw;
                color: #2A1103;
                padding-top: 2vw;
                padding-bottom: 2vw;

                &-sub {
                    margin-left: 3vw;
                    font-size: 1.39vw;
                }
            }

            &-img {
                text-align: center;

                img {
                    width: 43vw;
                }
            }

            &-money {
                margin-top: 2vw;

                &-table {
                    width: 72.7vw;

                    &-tr {

                        &:nth-of-type(1),
                        &:nth-of-type(2),
                        &:nth-of-type(3) {
                            border-top: 1px solid white;
                        }

                        &-rowname,
                        &-colname,
                        &-cash {
                            color: #2a1103;
                            background: #EEE4DA;
                            padding: 1vw;
                            font-size: 1.74vw;
                            padding-left: 3vw;
                        }

                        &-rowname {
                            border-right: 1px solid white;
                        }

                        &-colname {
                            font-weight: normal;
                        }
                    }
                }
            }
        }

        &-others {
            &-title {
                display: inline-block;
                color: #FFFFFF;
                opacity: 0.6039;
                margin-left: 9vw;
                margin-bottom: 0;
                font-size: 6.94vw;
                font-family: "optima";
            }

            &-memo {
                color: #2A1103;
                font-size: 1.87vw;
                margin-left: 9vw;
                font-size: 1.5vw;
            }

            &-menu {
                margin-top: 3vw;
                margin-left: 9.72vw;
                margin-right: 9.72vw;
                display: flex;

                &-button {
                    background-color: #EEE4DA;
                    width: 40vw;
                }

                &-medication {
                    &>.accordion{
                        &>.accordion-item{
                            &>.accordion-header{
                                &>.accordion-button{
                                    padding-bottom: 0;
                                    padding-top: 0;
                                    &:not(.collapsed) {
                                        color: #2A1103;
                                        background-color: #FFF;
                                    }
                                }
                            }
                            &>.accordion-collapse{
                                padding-bottom: 2vw;
                            }
                        }
                    }
                    &-dr_max{
                        margin-left: 1vw;
                    }

                    &-title {
                        font-size: 1.8vw;
                        font-weight: normal;
                        color: #2A1103;
                        margin-left: 2vw;
                        margin-top: 1vw;
                    }

                    &-money {
                        background: white;
                        padding: 2vw;
                        width: 40vw;
                        width: 39vw;
                        margin: 0 0.5vw;
                        &-table{
                            margin-left: 3.47vw;
                            margin-top: 2vw;
                            &-tr {

                                &-rowname,
                                &-cash,
                                &-subname {
                                    font-size: 1.74vw;
                                    color: #2A1103;
                                    padding: 0.5vw;
                                }
    
                                &-cash {
                                    padding-left: 7vw;
                                }
    
                                &-subname {
                                    font-size: 1.4vw;
                                    color: #2A1103;
                                    padding: 1vw;
                                }
    
                                &-blank {
                                    padding: 1vw;
                                }
                            }
                        }

                    }
                }
            }
        }

    }

    .block-8 {
        margin-left: 9.72vw;
        margin-right: 9.72vw;
        padding-bottom: 9vw;

        &-title {
            font-size: 4vw;
            color: #544136;
            margin-top: 12.15vw;
            margin-bottom: 13.54vw;
            text-align: center;
            font-family: "optima";
        }

        &-block {
            display: flex;

            &-box {
                width: 40vw;

                &-msg {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 2vw;

                    >img {
                        width: 12.5vw;
                    }

                }

                &-button {
                    text-align: left;
                    padding-bottom: 2vw;
                    margin-left: 7vw;

                    a {
                        text-decoration: none;
                        background-color: white;
                        color: #2A1103;
                        border: none;
                        padding: 1.1vw 8vw;
                        font-size: 1.94vw;
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                        margin-top: 2vw;
                        margin-bottom: 2vw;
                        box-shadow: 0 0.5px 1.5vw rgba(0, 0, 0, 0.1);
                    }
                }

                &-exp {
                    color: #544136;
                    font-size: 1.67vw;

                    p {
                        margin-left: 7vw;
                    }
                }
            }

            &-img {
                width: 41vw;

                img {
                    width: 100%;
                }
            }
        }

        &-downicon {
            margin-top: 3vw;
            margin-bottom: 3vw;

            &-triangle {
                width: 0;
                height: 0;
                border-left: 4vw solid transparent;
                border-right: 4vw solid transparent;
                border-top: 4vw solid #EEE4DA;
                display: block;
                margin: -0.5vw 0;
                margin-left: auto;
                margin-right: auto;
                opacity: 0.5961;
            }
        }
    }

    .block-9 {
        margin-left: 9.72vw;
        margin-right: 9.72vw;
        padding-bottom: 12.57vw;

        &-title {
            font-size: 4vw;
            color: #544136;
            margin-top: 1.76vw;
            margin-bottom: 7.78vw;
            text-align: center;
            font-family: "optima";
        }

        .accordion-button,
        .accordion-body {
            padding-left: 5vw;
            font-size: 1.94vw;
        }

        .accordion-body {
            color: #544136;
        }

        .accordion-button>span {
            padding-right: 2vw;
            margin-left: -3.4vw;
        }

        .accordion-body>span {
            position: absolute;
            left: 11vw;
        }

        .accordion-button:not(.collapsed) {
            color: #fff;
            background-color: #9A9085;
        }

        .accordion-header ,.accordion-button{
            color: #fff;
            background-color: #9A9085;
        }

        .accordion-header{
            margin-bottom: 0.2vw;

        }
    }

    .block-10 {
        padding-bottom: 5.49vw;
        background: #ECE6E3;

        &-title {
            color: #2A1103;
            font-size: 4.03vw;
            padding-top: 3.82vw;
            padding-bottom: 7.5vw;
            text-align: center;
            font-family: "optima";
        }

        &-comment {
            padding-left: 29vw;

            &-text {
                padding-bottom: 2vw;
                font-size: 1.94vw;

                a {
                    color: #2A1103
                }
            }
        }
    }

    .block-11 {
        margin-left: 9.72vw;
        margin-right: 9.72vw;
        padding-bottom: 7vw;

        &-title {
            color: #2A1103;
            font-size: 4.03vw;
            padding-top: 12.15vw;
            padding-bottom: 8.19vw;
            text-align: center;
            font-family: "optima";
        }

        &-block {
            p {
                margin-bottom: 0;
            }

            &-block1 {
                width: 40.2vw;
                display: inline-block;

                &-row1 {
                    margin-bottom: 1.5vw;
                }

                &-row2 {
                    margin-bottom: 1.5vw;
                }

                &-jusho {
                    width: 25vw;
                    font-size: 1.25vw;
                    display: inline-block;
                    color: #2A1103;

                    >span {
                        color: #A98A80;
                    }
                }

                &-eigyo {
                    width: 14vw;
                    font-size: 1.3vw;
                    display: inline-block;
                    vertical-align: top;
                    color: #2A1103;

                    >span {
                        color: #A98A80;
                    }
                }

                &-address {
                    font-size: 1.4vw;
                    width: 11vw;
                    display: inline-block;
                    color: #2A1103;

                    >span {
                        color: #A98A80;
                    }
                }

                &-closed {
                    font-size: 1.4vw;
                    display: inline-block;
                    width: 6vw;
                    color: #2A1103;

                    >span {
                        color: #A98A80;
                    }
                }

                &-money {
                    width: 17vw;
                    display: inline-block;
                    font-size: 1.4vw;
                    color: #2A1103;

                    >span {
                        color: #A98A80;
                    }
                }

                &-train {
                    font-size: 1.4vw;
                    color: #2A1103;
                }
            }

            &-block2 {
                width: 38vw;
                display: inline-block;
                vertical-align: top;

                &-iframe {
                    width: 39vw;
                    height: 23vw;
                    vertical-align: top;
                }

                &-box {
                    margin-top: 2vw;
                    text-align: left;
                    text-align: center;

                    &-button {
                        text-decoration: none;
                        background-color: white;
                        color: #2A1103;
                        border: none;
                        padding: 1.1vw 8vw;
                        font-size: 1.8vw;
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                        margin-top: 2vw;
                        margin-bottom: 2vw;
                    }
                }
            }

            &-block3 {
                margin-top: -2vw;

                &-car {
                    color: #2A1103;
                    font-size: 1.4vw;
                    width: 81vw;

                    >span {
                        color: #A98A80;
                    }
                }
            }
        }
    }
}

.footter {
    background-image: url(../img/img_footer.png);
    background-repeat: no-repeat;
    background-size: 100% auto;

    &-block {
        width: 81vw;
        margin-left: auto;
        margin-right: auto;
        height: 26vw;

        &-block1 {
            width: 39vw;
            display: inline-block;
            vertical-align: top;
            padding-top: 6vw;

            &-title {
                font-size: 3.4vw;
                color: #2A1103;

                >img {
                    width: 10vw;
                }
            }

            &-snsicon {
                &-line {
                    >img {
                        width: 5vw;
                        margin-left: -1vw;
                    }
                }

                &-insta {
                    >img {
                        width: 5vw;
                        margin-left: -1vw;
                    }
                }
            }

        }

        &-block2 {
            width: 40vw;
            margin-top: 3vw;
            display: inline-block;

            &-lick1 {
                display: inline-block;
                font-size: 1.8vw;
                width: 19vw;

                &-p {
                    margin-bottom: 2vw;
                    font-family: 'optima';

                    >a {
                        text-decoration: none;
                        color: #2A1103;
                    }
                }
            }

            &-lick2 {
                display: inline-block;
                vertical-align: top;
                font-size: 1.8vw;
                width: 19vw;
                padding-left: 2vw;

                &-p {
                    margin-bottom: 2vw;

                    >a {
                        text-decoration: none;
                        color: #2A1103;
                    }
                }
            }
        }
    }
}