@font-face {
    font-family: "optima";
    src: url("../font/optima.ttf") format("truetype");
}

@font-face {
    font-family: "Hiragino";
    src: url("../font/ヒラギノ明朝\ ProN.ttc") format("truetype");
}

* {
    font-family: 'Hiragino';
}

*:focus {
    box-shadow: none !important;
}

header {

    .fixed-top {
        padding: 0;
        background-color: white;
    }

    .navbar-toggler {
        width: 3em;
        border: none;
        margin-right: 6.5vw;
    }

    .container-fluid {
        background: white;
        padding-top: 0.62em;
        padding-bottom: 0.62em;
    }

    .navbar-toggler-icon {
        width: 100%;
        display: block;
    }

    .navbar-brand {

        >img {
            position: absolute;
            top: -0.6em;
            width: 4.078em;
            margin-left: 4vw;
        }
    }
}

// ハンバーガーメニュー内部
.offcanvas {
    // 背景
    background-color: #EEE4DA;

    //❌の移動 
    .offcanvas-header {
        padding: 40px;

        .btn-close {
            transform: scale(1.5);
        }
    }

    //  メニュー
    .active {
        color: #544136 !important;
        font-size: 1.4em;
        width: 50%;
        margin-left: 20%;
        font-family: 'optima';
    }

    .title-yoyaku {
        margin-top: 20%;

        //  店名
        .header_nav_title {
            width: 50%;
            margin-left: 20%;

            img {
                width: 3em;
                margin-bottom: 1vw;
            }
        }

        //  ご予約はこちら
        .YoyakuButon {
            background: white;
            text-align: center;
            font-size: 1em;
            width: 37%;
            box-shadow: -3px 4px 8px rgba(0, 0, 0, 0.25);
            font-family: 'Hiragino';

            >span {
                font-size: 0.9em;
            }
        }

    }

}

/* ----------------------------------------
ARTIST.html、ARTMAKE.html ヘッダーロゴ、パンくずリスト
------------------------------------------*/
.header-hight {
    height: 9em;
}

.header-rogo {
    top: inherit !important;
    margin-left: 7.9vw !important;
    position: absolute;
    top: -0.6em;
    width: 8.078em !important;
    margin-left: 4vw;
    margin-top: -1vw;
}

.pankuzu {
    margin-top: 9em;
    background: #EDE4DA;
    padding-left: 9vw;
    padding-top: 0.5vw;
    display: flex;

    &-top,
    &-bar,
    &-name {
        font-size: 1.94vw;
        font-family: "optima";

        >a {
            text-decoration: none;
            color: inherit;
        }
    }

    &-name {
        padding-left: 0.1vw;
    }

    &-bar {
        padding-left: 0.5vw;
        padding-right: 0.5vw;
    }

}

main {

    margin-top: 4.7em;

    // ご予約はこちら
    .block-1 {
        &-1 {
            margin-top: -1em;
            background: #EEE4DA;
            display: flex;

            .col {
                padding-left: 0;
                height: 38vw;
            }

            p {
                padding-left: 0;
                margin-bottom: 0;

                &.title {
                    font-size: 8vw;
                    margin-left: 14.58vw;
                    color: #333333;
                    font-family: 'optima';
                    position: absolute;
                    margin-top: 4vw;

                    &>img {
                        width: 15.83vw;
                    }
                }

                &.concept {
                    font-size: 2.22vw;
                    margin-left: 14.58vw;
                    color: #2A1103;
                    margin-top: 14vw;

                    >span {
                        font-size: 2.64vw;
                    }
                }

                &.button {
                    box-shadow: -3px 4px 8px rgba(0, 0, 0, 0.25);
                    background: #fff;
                    width: 16vw;
                    padding: 0.5vw;
                    margin-left: 14.58vw;
                    text-align: center;
                    margin-top: 0.97vw;

                    a {
                        text-decoration: none;
                        color: #2A1103;
                        font-size: 1.9vw;

                        >span {
                            font-size: 1.75vw;
                        }
                    }
                }

            }

        }

        &-2 {
            width: 32.3vw;
            margin-left: 17.28vw;

            >img {
                display: block;
                width: 117%;
            }
        }
    }

    .block-2 {
        margin-top: 3.65vw;

        &-block {
            display: flex;
            overflow-X: scroll;
            margin-left: 12.41vw;
            margin-right: 12.41vw;
            width: 75.18vw;

            &-img {
                width: 37.54vw;
                margin-right: 3.75vw;

                >img {
                    width: 33.86vw;
                }
            }
        }
    }

    .block-3 {
        padding-top: 12.5vw;

        &-title {
            color: #544037;
            opacity: 34.84%;
            margin-bottom: 0;
            margin-left: 9.72vw;
            font-size: 6.94vw;
            position: absolute;
            margin-top: -4vw;
            font-family: "optima";
        }

        &-blok {
            top: -6vw;
            z-index: -1;

            &-bun {
                font-size: 1.25vw;
                margin-bottom: 0;
                padding-left: 15.28vw;
                padding-top: 7.57vw;
                padding-bottom: 3.13vw;
                background: #EEE4DA;
            }
        }

        &-img {
            text-align: right;
            margin-right: 15.28vw;
            margin-top: -20vw;
            margin-left: 0vw;

            &-concept {
                border-radius: 100% 100% 0% 0%;
                width: 24.31vw;
            }
        }
    }

    .block-4 {
        background-image: url(../img/img_bg.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        padding-bottom: 7vw;
        margin-top: -5vw;

        &-block {
            display: flex;

            &-img {
                display: inline-block;
                padding-top: 12.57vw;
                padding-left: 15.28vw;

                >img {
                    width: 26.85vw;
                }
            }

            &-setumei {
                display: inline-block;
                font-size: 1.25vw;
                padding-left: 5vw;
                padding-top: 22.36vw;
                color: #544136;

                &-sikaku {
                    font-size: 1.25vw;
                    margin-bottom: 0.9vw;
                }

                &-msg {
                    font-size: 1.67vw;
                }
            }

            &-daihyo {
                width: 18.75vw;
                margin-left: 26vw;
                margin-top: -6.7vw;
                position: relative;
                height: 8.57vw;

                img {
                    width: 18.75vw;
                }
            }

        }
    }

    .block-5 {
        padding-top: 10.56vw;
        padding-bottom: 8vw;

        &-title {
            padding-left: 9.72vw;
            font-size: 4.03vw;
            font-family: "optima";
        }

        &-imgs {
            margin-top: 4.03vw;
            margin-left: 9.72vw;
            margin-right: 9.72vw;
            display: flex;
            overflow-x: scroll;
            width: 80.56vw;

            >img {
                width: 19.7vw;
                padding-right: 2vw;
            }
        }

        &-btn {
            display: flex;
            margin-top: 7vw;

            a {
                text-decoration: none;
                color: #2A1204;
                background: #EEE4DA;
                padding: 0.5vw 4.0vw;
                font-size: 1.25vw;
                text-align: right;
                margin-left: auto;
                margin-right: 12vw;
                font-family: "optima";
            }
        }

    }

    .block-6 {
        padding-top: 8vw;
        padding-bottom: 17.78vw;

        &-title {
            padding-left: 9.72vw;
            font-size: 4.03vw;
            font-family: "optima";
        }

        &-imgs {
            padding-top: 3vw;
            width: 80vw;
            margin-left: 9.72vw;
            margin-right: 9.72vw;
            display: flex;
            overflow-x: scroll;

            img {
                width: 26vw;
                padding-right: 1vw;
            }
        }

        &-btn {
            display: flex;
            margin-top: 7vw;

            a {
                text-decoration: none;
                color: #2A1204;
                background: #EEE4DA;
                padding: 0.5vw 4.0vw;
                font-size: 1.25vw;
                text-align: right;
                margin-left: auto;
                margin-right: 12vw;
                font-family: "optima";
            }
        }

    }

    .block-7 {
        background-color: #EEE4DA;
        padding-top: 5.76vw;
        padding-bottom: 6vw;

        &-title {
            text-align: center;
            font-size: 4.03vw;
            color: #2A1103;
            font-family: "optima";
            margin-bottom: 0;
        }

        &-subtitle {
            padding-top: 9.58vw;
            position: relative;
            z-index: 1;

            &-arttitle {
                display: inline-block;
                color: #FFFFFF;
                opacity: 0.6039;
                margin-left: 15vw;
                margin-bottom: 0;
                font-size: 6.94vw;
                font-family: "optima";
            }

            &-zeikomi {
                display: inline-block;
                color: #2A1103;
                margin-bottom: 0;
                margin-left: 22.5vw;
                font-size: 1.39vw;
                position: absolute;
                top: 16vw;
            }
        }

        &-block1 {
            margin-left: 15.28vw;
            margin-right: 15.28vw;
            background: white;
            padding-top: 2vw;
            padding-bottom: 2vw;
            margin-bottom: 6em;
            width: 69.38vw;
            text-align: center;

            &-triangle {
                position: absolute;
                width: 0;
                height: 0;
                border-left: 8vw solid #9A9084;
                border-bottom: 18vw solid transparent;
                left: 15.3vw;
                margin-top: -2vw;
            }

            &-title {
                padding-left: 7vw;
                font-size: 2.64vw;
                color: #2A1103;
                padding-top: 2vw;
                padding-bottom: 2vw;
            }

            &-ibrou {
                display: inline-block;
                width: 21vw;
                padding-left: 0.5vw;
                padding-right: 0.5vw;

                &-title {
                    display: flex;
                    align-items: center;
                    text-align: center;

                    &-line {
                        flex-grow: 1;
                        height: 1px;
                        background-color: #000;
                    }

                    &-text {
                        &-1 {
                            margin: 0px 3vw;
                            color: #2A1103;
                            font-size: 1.94vw;
                        }

                        &-2 {
                            margin: 0px 1vw;
                            color: #2A1103;
                            font-size: 1.94vw;
                        }
                    }
                }

                // 説明文の高さ調整
                &-setumei1,
                &-setumei3 {
                    padding-bottom: 1.9vw;
                }

                &-setumei {
                    font-size: 1.25vw;
                    text-align: center;
                    color: #2A1103;
                }

                &-img {
                    img {
                        width: 100%;
                    }
                }
            }

            &-money {
                margin-top: 2vw;
                margin-left: 2vw;

                &-table {
                    width: 65vw;

                    &-tr {

                        &:nth-of-type(1),
                        &:nth-of-type(2),
                        &:nth-of-type(3) {
                            border-top: 1px solid white;
                        }

                        &-rowname,
                        &-colname,
                        &-cash {
                            color: #2a1103;
                            background: #EEE4DA;
                            padding: 1vw;
                            font-size: 1.94vw;
                            padding-left: 3vw;
                        }

                        &-rowname {
                            border-right: 1px solid white;
                        }

                        &-colname {
                            font-weight: normal;
                        }
                    }
                }
            }

            &-chui {
                font-size: 1.39vw;
                color: #2A1103;
                padding-top: 2vw;
                text-align: left;
                margin-left: 2vw;
            }

        }

        &-block {
            margin-left: 15.28vw;
            margin-right: 15.28vw;
            background: white;
            padding: 2vw 2vw;
            margin-bottom: 4em;

            &-triangle {
                position: absolute;
                width: 0;
                height: 0;
                border-left: 8vw solid #9A9084;
                border-bottom: 18vw solid transparent;
                left: 15.3vw;
                margin-top: -2vw;
            }

            &-title {
                padding-left: 7vw;
                font-size: 2.64vw;
                color: #2A1103;
                padding-top: 2vw;
                padding-bottom: 2vw;

                &-sub {
                    margin-left: 3vw;
                    font-size: 1.39vw;
                }
            }

            &-img {
                text-align: center;

                img {
                    width: 62.5vw;
                    position: relative;
                    z-index: 1;
                }
            }

            &-money {
                margin-top: 2vw;

                &-table {
                    width: 62.5vw;

                    &-tr {

                        &:nth-of-type(1),
                        &:nth-of-type(2),
                        &:nth-of-type(3) {
                            border-top: 1px solid white;
                        }

                        &-rowname,
                        &-colname,
                        &-cash {
                            color: #2a1103;
                            background: #EEE4DA;
                            padding: 1vw;
                            font-size: 1.74vw;
                            padding-left: 3vw;
                        }

                        &-colname,
                        &-cash {
                            padding-left: 0;
                            text-align: center;
                        }

                        &-rowname {
                            border-right: 1px solid white;
                        }

                        &-colname {
                            font-weight: normal;
                        }
                    }
                }
            }
        }

        &-others {
            &-title {
                display: inline-block;
                color: #FFFFFF;
                opacity: 0.6039;
                margin-left: 15.28vw;
                margin-bottom: 0;
                font-size: 6.94vw;
                font-family: "optima";
            }

            &-memo {
                color: #2A1103;
                margin-left: 15.28vw;
                font-size: 1.5vw;
            }

            &-menu {
                margin-top: 3vw;
                margin-left: 15.28vw;
                margin-right: 15.28vw;
                display: flex;

                &-button {
                    background-color: #EEE4DA;
                    width: 34.72vw;
                }

                &-medication {
                    width: 34.72vw;

                    &>.accordion {
                        &>.accordion-item {
                            &>.accordion-header {
                                &>.accordion-button {
                                    padding-bottom: 0;
                                    padding-top: 0;

                                    &::after {
                                        background-image: url("../svg/money_icon.svg");
                                    }

                                    &:not(.collapsed) {
                                        color: #2A1103;
                                        background-color: #EEE4DA;
                                    }
                                }
                            }

                            &>.accordion-collapse {
                                padding-bottom: 2vw;
                            }
                        }
                    }

                    &-dr_max {
                        margin-left: 1vw;
                    }

                    &-title {
                        font-size: 1.8vw;
                        font-weight: normal;
                        color: #2A1103;
                        margin-top: 1vw;
                    }

                    &-money {
                        background: white;
                        padding: 2vw;
                        width: 40vw;
                        width: 39vw;
                        margin: 0 0.5vw;

                        &-table {
                            margin-left: 2.99vw;
                            margin-top: 2vw;

                            &-tr {

                                &-rowname,
                                &-cash,
                                &-subname {
                                    font-size: 1.67vw;
                                    color: #2A1103;
                                    padding: 0.5vw;
                                }

                                &-cash {

                                    &1 {
                                        padding-left: 2.08vw;
                                    }

                                    &2 {
                                        padding-left: 7.08vw;
                                    }

                                    &3 {
                                        padding-left: 12.08vw;
                                    }
                                }

                                &-subname {
                                    font-size: 1.4vw;
                                    color: #2A1103;
                                    padding: 1vw;
                                }

                                &-blank {
                                    padding: 1vw;
                                }
                            }
                        }

                    }
                }
            }
        }

    }

    .block-8 {
        margin-left: 15.28vw;
        margin-right: 15.28vw;
        padding-bottom: 3vw;
        padding-top: 12.5vw;

        &-title {
            font-size: 4vw;
            color: #544136;
            margin-bottom: 13.54vw;
            text-align: center;
            font-family: "optima";
        }

        &-block {
            display: flex;

            &-box {
                width: 34.72vw;

                &-msg {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 2vw;

                    >img {
                        width: 12.5vw;
                    }

                }

                &-button {
                    text-align: left;
                    padding-bottom: 2vw;
                    margin-left: 7vw;

                    a {
                        text-decoration: none;
                        background-color: white;
                        color: #2A1103;
                        border: none;
                        padding: 1.1vw 6vw;
                        font-size: 1.94vw;
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                        margin-top: 2vw;
                        margin-bottom: 2vw;
                        box-shadow: 0 0.5px 1.5vw rgba(0, 0, 0, 0.1);
                    }
                }

                &-exp {
                    color: #544136;
                    font-size: 1.5vw;

                    p {
                        margin-left: 7vw;
                    }
                }
            }

            &-img {
                width: 34.72vw;

                img {
                    width: 100%;
                }
            }
        }

        &-downicon {
            margin-top: 3vw;
            margin-bottom: 3vw;

            &-triangle {
                width: 0;
                height: 0;
                border-left: 4vw solid transparent;
                border-right: 4vw solid transparent;
                border-top: 4vw solid #EEE4DA;
                display: block;
                margin: -0.5vw 0;
                margin-left: auto;
                margin-right: auto;
                opacity: 0.5961;
            }
        }
    }

    .block-9 {
        margin-left: 15.28vw;
        margin-right: 15.28vw;
        padding-bottom: 12.57vw;
        padding-top: 7.76vw;

        &-title {
            font-size: 4vw;
            color: #544136;
            margin-bottom: 7.78vw;
            text-align: center;
            font-family: "optima";
        }

        .accordion-button,
        .accordion-body {
            padding-left: 5vw;
            font-size: 1.94vw;
        }

        .accordion-body {
            color: #544136;
            border: 2px solid #9A9085;
            margin-bottom: 0.5vw;
        }

        .accordion-button>span {
            padding-right: 2vw;
            margin-left: -3.4vw;
            margin-right: 1vw;
        }

        .accordion-body>span {
            position: absolute;
            left: 17vw;
        }

        .accordion-button:not(.collapsed) {
            color: #fff;
            background-color: #9A9085;
        }

        .accordion-header,
        .accordion-button {
            color: #fff;
            background-color: #9A9085;

        }

        .accordion-header {
            margin-bottom: 0.5vw;

        }

        .accordion-button {
            border-bottom: 1px solid #9A9085;
            padding-top: 3.4vw;
            padding-bottom: 3.4vw;

            &::after {
                background-image: url("../svg/QandAicon.svg");
            }
        }
    }

    .block-10 {
        padding-bottom: 5.49vw;
        background: #ECE6E3;
        padding-top: 3.82vw;

        &-title {
            color: #2A1103;
            font-size: 4.03vw;
            padding-bottom: 7.5vw;
            text-align: center;
            font-family: "optima";
        }

        &-comment {
            padding-left: 29vw;

            &-text {
                padding-bottom: 2vw;
                font-size: 1.94vw;

                a {
                    color: #2A1103
                }
            }
        }
    }

    .block-11 {
        margin-left: 15.28vw;
        margin-right: 15.28vw;
        padding-bottom: 7vw;

        &-title {
            color: #2A1103;
            font-size: 4.03vw;
            padding-top: 12.15vw;
            padding-bottom: 8.19vw;
            text-align: center;
            font-family: "optima";
        }

        &-block {
            p {
                margin-bottom: 0;
            }

            &-block1 {
                width: 40.2vw;
                display: inline-block;

                &-row1 {
                    margin-bottom: 1.5vw;
                }

                &-row2 {
                    margin-bottom: 1.5vw;
                }

                &-jusho {
                    width: 25vw;
                    font-size: 1.25vw;
                    display: inline-block;
                    color: #2A1103;

                    >span {
                        color: #A98A80;
                    }
                }

                &-eigyo {
                    width: 14vw;
                    font-size: 1.3vw;
                    display: inline-block;
                    vertical-align: top;
                    color: #2A1103;

                    >span {
                        color: #A98A80;
                    }
                }

                &-address {
                    font-size: 1.4vw;
                    width: 11vw;
                    display: inline-block;
                    color: #2A1103;

                    >span {
                        color: #A98A80;
                    }
                }

                &-closed {
                    font-size: 1.4vw;
                    display: inline-block;
                    width: 6vw;
                    color: #2A1103;

                    >span {
                        color: #A98A80;
                    }
                }

                &-money {
                    width: 17vw;
                    display: inline-block;
                    font-size: 1.4vw;
                    color: #2A1103;

                    >span {
                        color: #A98A80;
                    }
                }

                &-train {
                    font-size: 1.4vw;
                    color: #2A1103;
                }
            }

            &-block2 {
                width: 25.76vw;
                display: inline-block;
                vertical-align: top;

                &-iframe {
                    width: 29vw;
                    ;
                    height: 23vw;
                    vertical-align: top;
                }

                &-box {
                    margin-top: 2vw;
                    text-align: left;
                    text-align: center;

                    &-button {
                        text-decoration: none;
                        background-color: white;
                        color: #2A1103;
                        border: none;
                        padding: 1.1vw 6vw;
                        font-size: 1.8vw;
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
                        margin-top: 2vw;
                        margin-bottom: 2vw;
                    }
                }
            }

            &-block3 {
                margin-top: -2vw;

                &-car {
                    color: #2A1103;
                    font-size: 1.4vw;
                    width: 81vw;

                    >span {
                        color: #A98A80;
                    }
                }
            }
        }
    }
}

.footter {
    background-image: url(../img/img_footer.png);
    background-repeat: no-repeat;
    background-size: 100% auto;

    &-block {
        width: 69.44vw;
        margin-left: auto;
        margin-right: auto;
        height: 26vw;

        &-block1 {
            width: 29vw;
            display: inline-block;
            vertical-align: top;
            padding-top: 6vw;

            &-title {
                font-size: 3.4vw;
                color: #2A1103;

                >img {
                    width: 10vw;
                }
            }

            &-snsicon {
                &-line {
                    >img {
                        width: 5vw;
                        margin-left: -1vw;
                    }
                }

                &-insta {
                    >img {
                        width: 5vw;
                        margin-left: -1vw;
                    }
                }
            }

        }

        &-block2 {
            width: 39vw;
            margin-top: 3vw;
            display: inline-block;

            &-lick1 {
                display: inline-block;
                font-size: 1.8vw;
                width: 19vw;


                &-p {
                    margin-bottom: 0.9vw;
                    font-family: 'optima';
                    padding-left: 10vw;

                    >a {
                        text-decoration: none;
                        color: #2A1103;
                        font-family: "optima";
                        font-size: 1.39vw;
                    }
                }
            }

            &-lick2 {
                display: inline-block;
                vertical-align: top;
                font-size: 1.8vw;
                width: 19vw;
                padding-left: 2vw;

                &-p {
                    margin-bottom: 2vw;

                    >a {
                        text-decoration: none;
                        color: #2A1103;
                    }
                }
            }
        }
    }
}

/*
ARTIST.html
*/

.ARTIST {
    margin-top: 8.26vw;
    margin-bottom: 10.42vw;

    &-row {
        margin: 5.97vw 9.7vw;
        display: flex;

        &-block {
            padding-left: 4vw;
            padding-right: 4vw;

            &-img {
                >img {
                    width: 20.42vw;
                }
            }

            &-data {
                display: flex;

                &-post {
                    width: 9.04vw;
                    font-size: 1.94vw;
                    font-family: "optima";
                }

                &-name {
                    width: 8vw;
                    font-size: 1.94vw;
                    font-family: "optima";
                }

                &-icon {
                    >a {
                        >img {
                            width: 2.85vw;
                        }
                    }
                }
            }

            &-text {
                font-size: 1.25vw;
                color: #544136;
                font-family: "optima";
            }

            &-sait {
                margin-top: 0.5vw;
                height: 3.19vw;
                display: flex;

                &-money,
                &-reservation {
                    color: inherit;
                    text-decoration: none;
                    font-size: 1.25vw;
                    height: 100%;
                    display: block;
                    display: grid;
                    place-items: center;
                    color: #544136;
                }

                &-money {
                    background: #EEE4DA;
                    width: 8.06vw;
                    box-shadow: -3px 4px 8px rgba(0, 0, 0, 0.25) !important;
                    border: none;
                }

                &-reservation {
                    background-color: #DAEEDD;
                    box-shadow: -3px 4px 8px rgba(0, 0, 0, 0.25);
                    width: 11.67vw;
                    margin-left: 0.5vw;
                }
            }
        }

    }
}

/*
ARTMAKE.html
*/

.ARTMAKE {
    margin-top: 8.26vw;
    margin-bottom: 10.42vw;

    &-row {
        margin: 5.97vw 9.7vw;
        display: flex;

        &-block {
            margin-left: 1.18vw;
            margin-right: 1.18vw;

            &-makeimg {
                >img {
                    width: 25.28vw;
                }
            }

            &-artist {
                display: flex;

                >img {
                    width: 7.99vw;
                }

                &-block {
                    width: 15.67vw;
                    margin-left: 1vw;

                    &-title {
                        font-size: 1.84vw;
                        text-align: center;
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background-color: #9A9085;
                        }
                    }

                    &-data {
                        display: flex;

                        &-post {
                            width: 7vw;
                            font-size: 1.25vw;
                            font-family: "optima";
                            margin-left: 2vw;
                        }

                        &-name {
                            width: 9.3vw;
                            font-size: 1.25vw;
                            font-family: "optima";
                        }
                    }

                    &-sait {
                        margin-top: 0.5vw;
                        height: 3.19vw;
                        display: flex;

                        &-money,
                        &-reservation {
                            color: inherit;
                            text-decoration: none;
                            font-size: 1.25vw;
                            height: 100%;
                            display: block;
                            display: grid;
                            place-items: center;
                            color: #544136;
                        }

                        &-money {
                            background: #EEE4DA;
                            width: 7.36vw;
                            box-shadow: -3px 4px 8px rgba(0, 0, 0, 0.25);
                        }

                        &-reservation {
                            background-color: #DAEEDD;
                            width: 7.36vw;
                            margin-left: 0.5vw;
                            box-shadow: -3px 4px 8px rgba(0, 0, 0, 0.25);
                        }
                    }
                }
            }
        }
    }
}

/*
モーダル機能
*/

// 既存の機能を廃止
@media (min-width: 992px) {

    .modal-lg,
    .modal-xl {
        --bs-modal-width: unset;
        /* これで値を削除できます */
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: unset;
        /* 'max-width' をリセット */
        margin-right: unset;
        /* 'margin-right' をリセット */
        margin-left: unset;
        /* 'margin-left' をリセット */
    }
}

.modal-content {
    margin-right: 37vw;
    margin-left: 24vw;
}

.modal-header {
    height: 3vw;
    padding: 0;

    >button {
        font-size: 1.25vw;
        margin-right: 1vw !important;
    }
}

.modal-body {
    padding: 0;
    background: #EEE4DA;

    &-header {
        background: #9A9085;
        display: flex;
        padding-top: 1vw;

        &-h3 {
            font-size: 2.64vw;
            color: white;
            font-family: "optima";
            width: 32.71vw;
            margin-left: 2.33vw;
        }

        &-coment {
            width: 20.83vw;

            &-1 {
                margin-bottom: 0;
                color: white;
                font-size: 1.25vw;
            }

            &-2 {
                margin-bottom: 0;
                color: white;
                font-size: 1.25vw;
            }

        }

    }

    &-table {
        width: 100%;
        border-collapse: collapse;

        &-tr {
            height: 4.4vw;

            &-th,
            &-td {
                color: #2A1103;
                font-size: 1.94vw;
                width: 13.75vw;
                border-bottom: 1px solid #fff;

                &:first-child {
                    border-right: 1px solid #fff;
                }

                &:not(:first-child) {
                    padding-left: 1.32vw;
                    text-align: center;
                }
            }

            &-th {
                font-weight: normal;
            }

            &-td {
                &:first-child {
                    text-align: center;

                }

                >span {
                    font-size: 1.39vw;
                }
            }
        }

        &-end {
            display: flex;
            height: 4.4vw;
            padding-bottom: 0.5vw;

            &-other {
                &-1 {
                    border-right: 1px solid #fff;
                    width: 21.83vw;
                    font-size: 1.94vw;
                    vertical-align: bottom;
                    display: flex;
                    align-items: flex-end;
                    padding-left: 3vw;

                    >span {
                        font-size: 1.39vw;
                        padding-left: 0.5vw;
                        padding-right: 0.5vw;

                    }
                }

                &-2 {
                    width: 33.86vw;
                    font-size: 1.94vw;
                    vertical-align: bottom;
                    display: flex;
                    align-items: flex-end;
                    padding-left: 2vw;

                    >span {
                        font-size: 1.39vw;
                        padding-left: 0.5vw;
                        padding-right: 1vw;
                    }
                }
            }

        }
    }

}

/*
NEWS.html
*/
.NEWS{
    margin-top: 7.85vw;
    margin-bottom: 10vw;
    &_dateday{
        color: #2A1103;
        text-align: center;
        font-size: 1.67vw;
    }
    &_title{
        margin-top: 3.26vw;
        color: #2A1103;
        text-align: center;
        font-size: 1.94vw;
    }
    &_text{
        margin-top: 5.56vw;
        color: #2A1103;
        font-size: 1.94vw;
        padding-left: 11.67vw;
    }
    &_back{
        margin-top: 24.79vw;
        text-align: center;
        >a{
            color: #2A1103;
            font-size: 1.53vw;
            text-decoration: none;
        }
    }
}