@charset "UTF-8";
@font-face {
  font-family: "optima";
  src: url("../font/optima.ttf") format("truetype");
}
@font-face {
  font-family: "Hiragino";
  src: url("../font/ヒラギノ明朝 ProN.ttc") format("truetype");
}
* {
  font-family: "Hiragino";
}

*:focus {
  box-shadow: none !important;
}

header {
  /* ----------------------------------------
  ARTIST.html、ARTMAKE.html ヘッダーロゴ、パンくずリスト
  ------------------------------------------*/
}
header .fixed-top {
  padding: 0;
  background-color: white;
}
header .navbar-toggler {
  width: 3em;
  border: none;
  margin-right: 6.5vw;
}
header .container-fluid {
  background: white;
  padding-top: 0.62em;
  padding-bottom: 0.62em;
}
header .navbar-toggler-icon {
  width: 100%;
  display: block;
}
header .navbar-brand > img {
  position: absolute;
  top: -0.6em;
  width: 4.078em;
  margin-left: 4vw;
}
header .offcanvas {
  background-color: #EEE4DA;
}
header .offcanvas .offcanvas-header {
  padding: 40px;
}
header .offcanvas .offcanvas-header .btn-close {
  transform: scale(1.5);
}
header .offcanvas .active {
  color: #544136 !important;
  font-size: 1.4em;
  width: 50%;
  margin-left: 20%;
  font-family: "optima";
}
header .offcanvas .title-yoyaku {
  margin-top: 20%;
}
header .offcanvas .title-yoyaku .header_nav_title {
  width: 50%;
  margin-left: 20%;
}
header .offcanvas .title-yoyaku .header_nav_title img {
  width: 3em;
  margin-bottom: 1vw;
}
header .offcanvas .title-yoyaku .YoyakuButon {
  background: white;
  text-align: center;
  font-size: 1em;
  width: 37%;
  box-shadow: -3px 4px 8px rgba(0, 0, 0, 0.25);
}
header .offcanvas .title-yoyaku .YoyakuButon > span {
  font-size: 0.9em;
}
header .header-hight {
  height: 4.96em;
}
header .header-rogo {
  width: 8vw;
  position: fixed !important;
  top: inherit !important;
  margin-left: 7.9vw !important;
}
header .pankuzu {
  margin-top: 5em;
  background: #EDE4DA;
  padding-left: 9vw;
  padding-top: 0.5vw;
  display: flex;
}
header .pankuzu-top, header .pankuzu-bar, header .pankuzu-name {
  font-size: 1.94vw;
  font-family: "optima";
}
header .pankuzu-top > a, header .pankuzu-bar > a, header .pankuzu-name > a {
  text-decoration: none;
  color: inherit;
}
header .pankuzu-bar, header .pankuzu-name {
  padding-left: 0.1vw;
}

main {
  margin-top: 4.7em;
}
main .block-1 .block-1-1 {
  margin-top: -1em;
  background: #EEE4DA;
  display: flex;
}
main .block-1 .block-1-1 .col {
  padding-left: 0;
  height: 38vw;
}
main .block-1 .block-1-1 p {
  padding-left: 0;
  margin-bottom: 0;
}
main .block-1 .block-1-1 p.title {
  font-size: 8vw;
  margin-left: 14.58vw;
  color: #333333;
  font-family: "optima";
  position: absolute;
  margin-top: 4vw;
}
main .block-1 .block-1-1 p.title > img {
  width: 15.83vw;
}
main .block-1 .block-1-1 p.concept {
  font-size: 2.22vw;
  margin-left: 14.58vw;
  color: #2A1103;
  margin-top: 14vw;
}
main .block-1 .block-1-1 p.concept > span {
  font-size: 2.64vw;
}
main .block-1 .block-1-1 p.button {
  box-shadow: -3px 4px 8px rgba(0, 0, 0, 0.25);
  background: #fff;
  width: 16vw;
  padding: 0.5vw;
  margin-left: 14.58vw;
  text-align: center;
}
main .block-1 .block-1-1 p.button a {
  text-decoration: none;
  color: #2A1103;
  font-size: 1.9vw;
}
main .block-1 .block-1-1 p.button a > span {
  font-size: 1.75vw;
}
main .block-1 .block-1-1 .block-1-2 {
  width: 32.3vw;
  margin-left: 17.28vw;
}
main .block-1 .block-1-1 .block-1-2 > img {
  display: block;
  width: 117%;
}
main .block-2 {
  margin-top: 3.65vw;
}
main .block-2-block {
  display: flex;
  overflow-X: scroll;
  margin-left: 12.41vw;
  margin-right: 12.41vw;
  width: 75.18vw;
}
main .block-2-block-img {
  width: 37.54vw;
  margin-right: 3.75vw;
}
main .block-2-block-img > img {
  width: 33.86vw;
}
main .block-3 {
  padding-top: 12.5vw;
}
main .block-3-title {
  color: #544037;
  opacity: 34.84%;
  margin-bottom: 0;
  margin-left: 9.72vw;
  font-size: 6.94vw;
  position: absolute;
  margin-top: -4vw;
  font-family: "optima";
}
main .block-3-blok {
  top: -6vw;
  z-index: -1;
}
main .block-3-blok-bun {
  font-size: 1.25vw;
  margin-bottom: 0;
  padding-left: 9.72vw;
  padding-top: 7.57vw;
  padding-bottom: 3.13vw;
  background: #EEE4DA;
}
main .block-3-img {
  text-align: right;
  margin-right: 9.72vw;
  margin-right: 19.72vw;
  margin-top: -20vw;
  margin-left: 0vw;
}
main .block-3-img-concept {
  border-radius: 100% 100% 0% 0%;
  width: 24.31vw;
}
main .block-4 {
  background-image: url(../img/img_bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 7vw;
  margin-top: -5vw;
}
main .block-4-block {
  display: flex;
}
main .block-4-block-img {
  display: inline-block;
  padding-top: 12.57vw;
  padding-left: 17.85vw;
}
main .block-4-block-img > img {
  width: 26.85vw;
}
main .block-4-block-setumei {
  display: inline-block;
  font-size: 1.25vw;
  padding-left: 5vw;
  padding-top: 22.36vw;
  color: #544136;
}
main .block-4-block-setumei-sikaku {
  font-size: 1.25vw;
  margin-bottom: 0.9vw;
}
main .block-4-block-setumei-msg {
  font-size: 1.67vw;
}
main .block-4-block-daihyo {
  width: 18.75vw;
  margin-left: 26vw;
  margin-top: -6.7vw;
  position: relative;
  height: 8.57vw;
}
main .block-4-block-daihyo img {
  width: 18.75vw;
}
main .block-5 {
  padding-top: 10.56vw;
  padding-bottom: 8vw;
}
main .block-5-title {
  padding-left: 9.72vw;
  font-size: 4.03vw;
  font-family: "optima";
}
main .block-5-imgs {
  margin-top: 4.03vw;
  margin-left: 9.72vw;
  margin-right: 9.72vw;
  display: flex;
  overflow-x: scroll;
  width: 80.56vw;
}
main .block-5-imgs > img {
  width: 19.7vw;
  padding-right: 2vw;
}
main .block-5-btn {
  display: flex;
  margin-top: 7vw;
}
main .block-5-btn a {
  text-decoration: none;
  color: #2A1204;
  background: #EEE4DA;
  padding: 0.5vw 4vw;
  font-size: 1.25vw;
  text-align: right;
  margin-left: auto;
  margin-right: 12vw;
  font-family: "optima";
}
main .block-6 {
  padding-top: 8vw;
  padding-bottom: 17.78vw;
}
main .block-6-title {
  padding-left: 9.72vw;
  font-size: 4.03vw;
  font-family: "optima";
}
main .block-6-imgs {
  padding-top: 3vw;
  width: 80vw;
  margin-left: 9.72vw;
  margin-right: 9.72vw;
}
main .block-6-imgs img {
  width: 26vw;
  padding-right: 1vw;
}
main .block-6-btn {
  display: flex;
  margin-top: 7vw;
}
main .block-6-btn a {
  text-decoration: none;
  color: #2A1204;
  background: #EEE4DA;
  padding: 0.5vw 4vw;
  font-size: 1.25vw;
  text-align: right;
  margin-left: auto;
  margin-right: 12vw;
  font-family: "optima";
}
main .block-7 {
  background-color: #EEE4DA;
  padding-top: 5.76vw;
  padding-bottom: 6vw;
}
main .block-7-title {
  text-align: center;
  font-size: 4.03vw;
  color: #2A1103;
  font-family: "optima";
  margin-bottom: 0;
}
main .block-7-subtitle {
  padding-top: 9.58vw;
  position: relative;
  z-index: 1;
}
main .block-7-subtitle-arttitle {
  display: inline-block;
  color: #FFFFFF;
  opacity: 0.6039;
  margin-left: 9vw;
  margin-bottom: 0;
  font-size: 6.94vw;
  font-family: "optima";
}
main .block-7-subtitle-zeikomi {
  display: inline-block;
  color: #2A1103;
  margin-bottom: 0;
  margin-left: 33.5vw;
  font-size: 1.39vw;
  position: absolute;
  top: 16vw;
}
main .block-7-block1 {
  margin-left: 9.72vw;
  margin-right: 9.72vw;
  background: white;
  padding: 2vw 4vw;
  margin-bottom: 6em;
}
main .block-7-block1-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8vw solid #9A9084;
  border-bottom: 18vw solid transparent;
  left: 9.7vw;
  margin-top: -2vw;
}
main .block-7-block1-title {
  padding-left: 7vw;
  font-size: 2.64vw;
  color: #2A1103;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
main .block-7-block1-ibrou {
  display: inline-block;
  width: 23.5vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}
main .block-7-block1-ibrou-title {
  display: flex;
  align-items: center;
  text-align: center;
}
main .block-7-block1-ibrou-title-line {
  flex-grow: 1;
  height: 1px;
  background-color: #000;
}
main .block-7-block1-ibrou-title-text-1 {
  margin: 0px 3vw;
  color: #2A1103;
  font-size: 1.94vw;
}
main .block-7-block1-ibrou-title-text-2 {
  margin: 0px 1vw;
  color: #2A1103;
  font-size: 1.94vw;
}
main .block-7-block1-ibrou-setumei1, main .block-7-block1-ibrou-setumei3 {
  padding-bottom: 2.1vw;
}
main .block-7-block1-ibrou-setumei {
  font-size: 1.25vw;
  text-align: center;
  color: #2A1103;
}
main .block-7-block1-ibrou-img img {
  width: 100%;
}
main .block-7-block1-money {
  margin-top: 2vw;
}
main .block-7-block1-money-table {
  width: 72.7vw;
}
main .block-7-block1-money-table-tr:nth-of-type(1), main .block-7-block1-money-table-tr:nth-of-type(2), main .block-7-block1-money-table-tr:nth-of-type(3) {
  border-top: 1px solid white;
}
main .block-7-block1-money-table-tr-rowname, main .block-7-block1-money-table-tr-colname, main .block-7-block1-money-table-tr-cash {
  color: #2a1103;
  background: #EEE4DA;
  padding: 1vw;
  font-size: 1.94vw;
  padding-left: 3vw;
}
main .block-7-block1-money-table-tr-rowname {
  border-right: 1px solid white;
}
main .block-7-block1-money-table-tr-colname {
  font-weight: normal;
}
main .block-7-block1-chui {
  font-size: 1.39vw;
  color: #2A1103;
  padding-top: 2vw;
}
main .block-7-block {
  margin-left: 9.72vw;
  margin-right: 9.72vw;
  background: white;
  padding: 2vw 4vw;
  margin-bottom: 4em;
}
main .block-7-block-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8vw solid #9A9084;
  border-bottom: 18vw solid transparent;
  left: 9.7vw;
  margin-top: -2vw;
}
main .block-7-block-title {
  padding-left: 7vw;
  font-size: 2.64vw;
  color: #2A1103;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
main .block-7-block-title-sub {
  margin-left: 3vw;
  font-size: 1.39vw;
}
main .block-7-block-img {
  text-align: center;
}
main .block-7-block-img img {
  width: 43vw;
}
main .block-7-block-money {
  margin-top: 2vw;
}
main .block-7-block-money-table {
  width: 72.7vw;
}
main .block-7-block-money-table-tr:nth-of-type(1), main .block-7-block-money-table-tr:nth-of-type(2), main .block-7-block-money-table-tr:nth-of-type(3) {
  border-top: 1px solid white;
}
main .block-7-block-money-table-tr-rowname, main .block-7-block-money-table-tr-colname, main .block-7-block-money-table-tr-cash {
  color: #2a1103;
  background: #EEE4DA;
  padding: 1vw;
  font-size: 1.74vw;
  padding-left: 3vw;
}
main .block-7-block-money-table-tr-rowname {
  border-right: 1px solid white;
}
main .block-7-block-money-table-tr-colname {
  font-weight: normal;
}
main .block-7-others-title {
  display: inline-block;
  color: #FFFFFF;
  opacity: 0.6039;
  margin-left: 9vw;
  margin-bottom: 0;
  font-size: 6.94vw;
  font-family: "optima";
}
main .block-7-others-memo {
  color: #2A1103;
  font-size: 1.87vw;
  margin-left: 9vw;
  font-size: 1.5vw;
}
main .block-7-others-menu {
  margin-top: 3vw;
  margin-left: 9.72vw;
  margin-right: 9.72vw;
  display: flex;
}
main .block-7-others-menu-button {
  background-color: #EEE4DA;
  width: 40vw;
}
main .block-7-others-menu-medication > .accordion > .accordion-item > .accordion-header > .accordion-button {
  padding-bottom: 0;
  padding-top: 0;
}
main .block-7-others-menu-medication > .accordion > .accordion-item > .accordion-header > .accordion-button::after {
  background-image: url("../svg/money_icon.svg");
}
main .block-7-others-menu-medication > .accordion > .accordion-item > .accordion-header > .accordion-button:not(.collapsed) {
  color: #2A1103;
  background-color: #EEE4DA;
}
main .block-7-others-menu-medication > .accordion > .accordion-item > .accordion-collapse {
  padding-bottom: 2vw;
}
main .block-7-others-menu-medication-dr_max {
  margin-left: 1vw;
}
main .block-7-others-menu-medication-title {
  font-size: 1.8vw;
  font-weight: normal;
  color: #2A1103;
  margin-left: 2vw;
  margin-top: 1vw;
}
main .block-7-others-menu-medication-money {
  background: white;
  padding: 2vw;
  width: 40vw;
  width: 39vw;
  margin: 0 0.5vw;
}
main .block-7-others-menu-medication-money-table {
  margin-left: 3.47vw;
  margin-top: 2vw;
}
main .block-7-others-menu-medication-money-table-tr-rowname, main .block-7-others-menu-medication-money-table-tr-cash, main .block-7-others-menu-medication-money-table-tr-subname {
  font-size: 1.74vw;
  color: #2A1103;
  padding: 0.5vw;
}
main .block-7-others-menu-medication-money-table-tr-cash {
  padding-left: 7vw;
}
main .block-7-others-menu-medication-money-table-tr-subname {
  font-size: 1.4vw;
  color: #2A1103;
  padding: 1vw;
}
main .block-7-others-menu-medication-money-table-tr-blank {
  padding: 1vw;
}
main .block-8 {
  margin-left: 9.72vw;
  margin-right: 9.72vw;
  padding-bottom: 3vw;
  padding-top: 12.5vw;
}
main .block-8-title {
  font-size: 4vw;
  color: #544136;
  margin-bottom: 13.54vw;
  text-align: center;
  font-family: "optima";
}
main .block-8-block {
  display: flex;
}
main .block-8-block-box {
  width: 40vw;
}
main .block-8-block-box-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vw;
}
main .block-8-block-box-msg > img {
  width: 12.5vw;
}
main .block-8-block-box-button {
  text-align: left;
  padding-bottom: 2vw;
  margin-left: 7vw;
}
main .block-8-block-box-button a {
  text-decoration: none;
  background-color: white;
  color: #2A1103;
  border: none;
  padding: 1.1vw 8vw;
  font-size: 1.94vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 2vw;
  margin-bottom: 2vw;
  box-shadow: 0 0.5px 1.5vw rgba(0, 0, 0, 0.1);
}
main .block-8-block-box-exp {
  color: #544136;
  font-size: 1.67vw;
}
main .block-8-block-box-exp p {
  margin-left: 7vw;
}
main .block-8-block-img {
  width: 41vw;
}
main .block-8-block-img img {
  width: 100%;
}
main .block-8-downicon {
  margin-top: 3vw;
  margin-bottom: 3vw;
}
main .block-8-downicon-triangle {
  width: 0;
  height: 0;
  border-left: 4vw solid transparent;
  border-right: 4vw solid transparent;
  border-top: 4vw solid #EEE4DA;
  display: block;
  margin: -0.5vw 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5961;
}
main .block-9 {
  margin-left: 9.72vw;
  margin-right: 9.72vw;
  padding-bottom: 12.57vw;
  padding-top: 7.76vw;
}
main .block-9-title {
  font-size: 4vw;
  color: #544136;
  margin-bottom: 7.78vw;
  text-align: center;
  font-family: "optima";
}
main .block-9 .accordion-button,
main .block-9 .accordion-body {
  padding-left: 5vw;
  font-size: 1.94vw;
}
main .block-9 .accordion-body {
  color: #544136;
  border: 2px solid #9A9085;
  margin-bottom: 0.5vw;
}
main .block-9 .accordion-button > span {
  padding-right: 2vw;
  margin-left: -3.4vw;
  margin-right: 1vw;
}
main .block-9 .accordion-body > span {
  position: absolute;
  left: 11vw;
}
main .block-9 .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #9A9085;
}
main .block-9 .accordion-header,
main .block-9 .accordion-button {
  color: #fff;
  background-color: #9A9085;
}
main .block-9 .accordion-header {
  margin-bottom: 0.5vw;
}
main .block-9 .accordion-button {
  border-bottom: 1px solid #9A9085;
  padding-top: 3.4vw;
  padding-bottom: 3.4vw;
}
main .block-9 .accordion-button::after {
  background-image: url("../svg/QandAicon.svg");
}
main .block-10 {
  padding-bottom: 5.49vw;
  background: #ECE6E3;
  padding-top: 3.82vw;
}
main .block-10-title {
  color: #2A1103;
  font-size: 4.03vw;
  padding-bottom: 7.5vw;
  text-align: center;
  font-family: "optima";
}
main .block-10-comment {
  padding-left: 29vw;
}
main .block-10-comment-text {
  padding-bottom: 2vw;
  font-size: 1.94vw;
}
main .block-10-comment-text a {
  color: #2A1103;
}
main .block-11 {
  margin-left: 9.72vw;
  margin-right: 9.72vw;
  padding-bottom: 7vw;
}
main .block-11-title {
  color: #2A1103;
  font-size: 4.03vw;
  padding-top: 12.15vw;
  padding-bottom: 8.19vw;
  text-align: center;
  font-family: "optima";
}
main .block-11-block p {
  margin-bottom: 0;
}
main .block-11-block-block1 {
  width: 40.2vw;
  display: inline-block;
}
main .block-11-block-block1-row1 {
  margin-bottom: 1.5vw;
}
main .block-11-block-block1-row2 {
  margin-bottom: 1.5vw;
}
main .block-11-block-block1-jusho {
  width: 25vw;
  font-size: 1.25vw;
  display: inline-block;
  color: #2A1103;
}
main .block-11-block-block1-jusho > span {
  color: #A98A80;
}
main .block-11-block-block1-eigyo {
  width: 14vw;
  font-size: 1.3vw;
  display: inline-block;
  vertical-align: top;
  color: #2A1103;
}
main .block-11-block-block1-eigyo > span {
  color: #A98A80;
}
main .block-11-block-block1-address {
  font-size: 1.4vw;
  width: 11vw;
  display: inline-block;
  color: #2A1103;
}
main .block-11-block-block1-address > span {
  color: #A98A80;
}
main .block-11-block-block1-closed {
  font-size: 1.4vw;
  display: inline-block;
  width: 6vw;
  color: #2A1103;
}
main .block-11-block-block1-closed > span {
  color: #A98A80;
}
main .block-11-block-block1-money {
  width: 17vw;
  display: inline-block;
  font-size: 1.4vw;
  color: #2A1103;
}
main .block-11-block-block1-money > span {
  color: #A98A80;
}
main .block-11-block-block1-train {
  font-size: 1.4vw;
  color: #2A1103;
}
main .block-11-block-block2 {
  width: 38vw;
  display: inline-block;
  vertical-align: top;
}
main .block-11-block-block2-iframe {
  width: 39vw;
  height: 23vw;
  vertical-align: top;
}
main .block-11-block-block2-box {
  margin-top: 2vw;
  text-align: left;
  text-align: center;
}
main .block-11-block-block2-box-button {
  text-decoration: none;
  background-color: white;
  color: #2A1103;
  border: none;
  padding: 1.1vw 8vw;
  font-size: 1.8vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 2vw;
  margin-bottom: 2vw;
}
main .block-11-block-block3 {
  margin-top: -2vw;
}
main .block-11-block-block3-car {
  color: #2A1103;
  font-size: 1.4vw;
  width: 81vw;
}
main .block-11-block-block3-car > span {
  color: #A98A80;
}

.footter {
  background-image: url(../img/img_footer.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.footter-block {
  width: 81vw;
  margin-left: auto;
  margin-right: auto;
  height: 26vw;
}
.footter-block-block1 {
  width: 39vw;
  display: inline-block;
  vertical-align: top;
  padding-top: 6vw;
}
.footter-block-block1-title {
  font-size: 3.4vw;
  color: #2A1103;
}
.footter-block-block1-title > img {
  width: 10vw;
}
.footter-block-block1-snsicon-line > img {
  width: 5vw;
  margin-left: -1vw;
}
.footter-block-block1-snsicon-insta > img {
  width: 5vw;
  margin-left: -1vw;
}
.footter-block-block2 {
  width: 40vw;
  margin-top: 3vw;
  display: inline-block;
}
.footter-block-block2-lick1 {
  display: inline-block;
  font-size: 1.8vw;
  width: 19vw;
}
.footter-block-block2-lick1-p {
  margin-bottom: 0.9vw;
  font-family: "optima";
}
.footter-block-block2-lick1-p > a {
  text-decoration: none;
  color: #2A1103;
  font-family: "optima";
  font-size: 1.39vw;
}
.footter-block-block2-lick2 {
  display: inline-block;
  vertical-align: top;
  font-size: 1.8vw;
  width: 19vw;
  padding-left: 2vw;
}
.footter-block-block2-lick2-p {
  margin-bottom: 2vw;
}
.footter-block-block2-lick2-p > a {
  text-decoration: none;
  color: #2A1103;
}

/*
ARTIST.html
*/
.ARTIST {
  margin-top: 8.26vw;
  margin-bottom: 10.42vw;
}
.ARTIST-row {
  margin: 5.97vw 9.7vw;
  display: flex;
}
.ARTIST-row-block {
  padding-left: 4vw;
  padding-right: 4vw;
}
.ARTIST-row-block-img > img {
  width: 20.42vw;
}
.ARTIST-row-block-data {
  display: flex;
}
.ARTIST-row-block-data-post {
  width: 9.04vw;
  font-size: 1.94vw;
  font-family: "optima";
}
.ARTIST-row-block-data-name {
  width: 8vw;
  font-size: 1.94vw;
  font-family: "optima";
}
.ARTIST-row-block-data-icon > a > img {
  width: 2.85vw;
}
.ARTIST-row-block-text {
  font-size: 1.25vw;
  color: #544136;
  font-family: "optima";
}
.ARTIST-row-block-sait {
  margin-top: 0.5vw;
  height: 3.19vw;
  display: flex;
}
.ARTIST-row-block-sait-money, .ARTIST-row-block-sait-reservation {
  color: inherit;
  text-decoration: none;
  font-size: 1.25vw;
  height: 100%;
  display: block;
  display: grid;
  place-items: center;
  color: #544136;
}
.ARTIST-row-block-sait-money {
  background: #EEE4DA;
  width: 8.06vw;
}
.ARTIST-row-block-sait-reservation {
  background-color: #DAEEDD;
  width: 11.67vw;
  margin-left: 0.5vw;
}

/*
ARTMAKE.html
*/
.ARTMAKE {
  margin-top: 8.26vw;
  margin-bottom: 10.42vw;
}
.ARTMAKE-row {
  margin: 5.97vw 9.7vw;
  display: flex;
}
.ARTMAKE-row-block {
  margin-left: 1.18vw;
  margin-right: 1.18vw;
}
.ARTMAKE-row-block-makeimg > img {
  width: 25.28vw;
}
.ARTMAKE-row-block-artist {
  display: flex;
}
.ARTMAKE-row-block-artist > img {
  width: 7.99vw;
}
.ARTMAKE-row-block-artist-block {
  width: 15.67vw;
  margin-left: 1vw;
}
.ARTMAKE-row-block-artist-block-title {
  font-size: 1.84vw;
  text-align: center;
  position: relative;
}
.ARTMAKE-row-block-artist-block-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #9A9085;
}
.ARTMAKE-row-block-artist-block-data {
  display: flex;
}
.ARTMAKE-row-block-artist-block-data-post {
  width: 7vw;
  font-size: 1.25vw;
  font-family: "optima";
  margin-left: 2vw;
}
.ARTMAKE-row-block-artist-block-data-name {
  width: 9.3vw;
  font-size: 1.25vw;
  font-family: "optima";
}
.ARTMAKE-row-block-artist-block-sait {
  margin-top: 0.5vw;
  height: 3.19vw;
  display: flex;
}
.ARTMAKE-row-block-artist-block-sait-money, .ARTMAKE-row-block-artist-block-sait-reservation {
  color: inherit;
  text-decoration: none;
  font-size: 1.25vw;
  height: 100%;
  display: block;
  display: grid;
  place-items: center;
  color: #544136;
}
.ARTMAKE-row-block-artist-block-sait-money {
  background: #EEE4DA;
  width: 7.36vw;
}
.ARTMAKE-row-block-artist-block-sait-reservation {
  background-color: #DAEEDD;
  width: 7.36vw;
  margin-left: 0.5vw;
}/*# sourceMappingURL=style.css.map */